In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
import pickle
from sklearn.neural_network import MLPClassifier
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation,Flatten
from keras.optimizers import SGD

C:\Users\master\Anaconda3\lib\site-packages\dask\config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}
C:\Users\master\Anaconda3\lib\site-packages\dask\dataframe\utils.py:13: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
C:\Users\master\Anaconda3\lib\site-packages\distributed\config.py:20: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  defaults = yaml.load(f)
C:\Users\master\Anaconda3\lib\site-packages\h5py\__init__.py:72: UserWarning: h5py is running against HDF5 1.10.2 when it was built against 1.10.3, this may cause problems
  '{0}.{1}.{2}'.format(*version.hdf5_built_version_tuple)
Using TensorFlow backend.

In [2]:
df = pd.read_csv('../submission files/test.csv')
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
df ['Age'] = df['Age'].fillna(df['Age'].mean())
df['Fare'] = df['Fare'].fillna(df['Fare'].mean())
df.isnull().sum()
labels = ['child','adult','old']
df['age_group'] = pd.cut(df['Age'], bins=3, labels=labels)
df['age_group']= df['age_group'].fillna('adult')
labelsfare = ['cheap', 'normal', 'expensive']
df['Fare_group'] = pd.cut(df['Fare'], bins=3, labels=labelsfare)
df['Fare_group']= df['Fare_group'].fillna('cheap')
print(df.isnull().sum())
df

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
age_group        0
Fare_group       0
dtype: int64

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_group,Fare_group
0,892,3,"Kelly, Mr. James",male,34.50000,0,0,330911,7.8292,NaN,Q,adult,cheap
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,363272,7.0000,NaN,S,adult,cheap
2,894,2,"Myles, Mr. Thomas Francis",male,62.00000,0,0,240276,9.6875,NaN,Q,old,cheap
3,895,3,"Wirz, Mr. Albert",male,27.00000,0,0,315154,8.6625,NaN,S,adult,cheap
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,3101298,12.2875,NaN,S,child,cheap
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.27259,0,0,A.5. 3236,8.0500,NaN,S,adult,cheap
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,PC 17758,108.9000,C105,C,adult,cheap
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.50000,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,adult,cheap
416,1308,3,"Ware, Mr. Frederick",male,30.27259,0,0,359309,8.0500,NaN,S,adult,cheap
417,1309,3,"Peter, Master. Michael J",male,30.27259,1,1,2668,22.3583,NaN,C,adult,cheap

In [4]:
df.drop(columns=['PassengerId', 'Name', 'Cabin', 'Embarked', 'Ticket','Fare', 'Age'], inplace=True)

In [ ]:
df

In [5]:
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
df.loc[df['FamilySize'] == 1, 'IsAlone'] = 1
df['IsAlone']= df['IsAlone'].fillna(0)
df.drop(columns=['SibSp', 'Parch', ], inplace=True)
df

     Pclass     Sex age_group Fare_group  FamilySize  IsAlone
0         3    male     adult      cheap           1      1.0
1         3  female     adult      cheap           2      0.0
2         2    male       old      cheap           1      1.0
3         3    male     adult      cheap           1      1.0
4         3  female     child      cheap           3      0.0
..      ...     ...       ...        ...         ...      ...
413       3    male     adult      cheap           1      1.0
414       1  female     adult      cheap           1      1.0
415       3    male     adult      cheap           1      1.0
416       3    male     adult      cheap           1      1.0
417       3    male     adult      cheap           3      0.0

[418 rows x 6 columns]

In [5]:
X = df.iloc[:,:].values
X

array([[3, 'male', 0, 0, 'adult', 'cheap'],
       [3, 'female', 1, 0, 'adult', 'cheap'],
       [2, 'male', 0, 0, 'old', 'cheap'],
       ...,
       [3, 'male', 0, 0, 'adult', 'cheap'],
       [3, 'male', 0, 0, 'adult', 'cheap'],
       [3, 'male', 1, 1, 'adult', 'cheap']], dtype=object)

In [6]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1,4,-1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[0.0 1.0 1.0 ... 3 0 0]
 [1.0 0.0 1.0 ... 3 1 0]
 [0.0 1.0 0.0 ... 2 0 0]
 ...
 [0.0 1.0 1.0 ... 3 0 0]
 [0.0 1.0 1.0 ... 3 0 0]
 [0.0 1.0 1.0 ... 3 1 1]]

In [7]:
sc = StandardScaler()
X[:, 2:] = sc.fit_transform(X[:, 2:])
X

array([[0.0, 1.0, 0.8403109239915862, ..., 0.8734819050636105,
        -0.4994700165357186, -0.4002477016385638],
       [1.0, 0.0, 0.8403109239915862, ..., 0.8734819050636105,
        0.6169923733676523, -0.4002477016385638],
       [0.0, 1.0, -1.1900357016065817, ..., -0.3158191904301653,
        -0.4994700165357186, -0.4002477016385638],
       ...,
       [0.0, 1.0, 0.8403109239915862, ..., 0.8734819050636105,
        -0.4994700165357186, -0.4002477016385638],
       [0.0, 1.0, 0.8403109239915862, ..., 0.8734819050636105,
        -0.4994700165357186, -0.4002477016385638],
       [0.0, 1.0, 0.8403109239915862, ..., 0.8734819050636105,
        0.6169923733676523, 0.6198958305865561]], dtype=object)

In [35]:
filename = 'titanic8293.sav'
loaded_modelmlp = pickle.load(open(filename, 'rb'))

In [36]:
predictions= loaded_modelmlp.predict(X).tolist()
print(predictions)

[[0.13589458167552948], [0.6291354894638062], [0.11214452981948853], [0.13589458167552948], [0.5564699769020081], [0.11953712999820709], [0.4989919662475586], [0.1005452424287796], [0.5496669411659241], [0.13166837394237518], [0.13589458167552948], [0.4662799835205078], [0.9708640575408936], [0.9440906643867493], [0.9801414012908936], [0.9218390583992004], [0.10163264721632004], [0.11953712999820709], [0.6291354894638062], [0.4989919662475586], [0.740831732749939], [0.9761222004890442], [0.9829901456832886], [0.11382412910461426], [0.9828251004219055], [0.06480152904987335], [0.950251579284668], [0.11953712999820709], [0.4662799835205078], [0.01296817697584629], [0.09485886245965958], [0.11102914065122604], [0.18658378720283508], [0.18658378720283508], [0.47986575961112976], [0.11953712999820709], [0.4989919662475586], [0.5496669411659241], [0.11953712999820709], [0.13589458167552948], [0.16330909729003906], [0.4662799835205078], [0.13589458167552948], [0.9216341376304626], [0.9801414012908936], [0.11953712999820709], [0.4662799835205078], [0.13589458167552948], [0.9811156988143921], [0.526709794998169], [0.1678721308708191], [0.10163264721632004], [0.7660015821456909], [0.9999982118606567], [0.10163264721632004], [0.004195813555270433], [0.13589458167552948], [0.11953712999820709], [0.06480152904987335], [0.9994885921478271], [0.11953712999820709], [0.10163264721632004], [0.11953712999820709], [0.5496669411659241], [0.11696530133485794], [0.9216341376304626], [0.5496669411659241], [0.4662799835205078], [0.4662799835205078], [0.166354238986969], [0.5496669411659241], [0.11953712999820709], [0.4989919662475586], [0.4662799835205078], [0.9994885921478271], [0.054866284132003784], [0.13589458167552948], [0.9907654523849487], [0.10163264721632004], [0.5496669411659241], [0.5071974992752075], [0.08199314028024673], [0.4662799835205078], [0.13589458167552948], [0.10163264721632004], [0.06480152904987335], [0.4989919662475586], [0.5496669411659241], [0.4989919662475586], [0.9326669573783875], [0.6154714226722717], [0.13589458167552948], [0.9706422686576843], [0.13589458167552948], [0.01616721600294113], [0.11953712999820709], [0.991796612739563], [0.13589458167552948], [0.5496669411659241], [0.13589458167552948], [0.9801414012908936], [0.09485886245965958], [0.13589458167552948], [0.13589458167552948], [0.5564699769020081], [0.13589458167552948], [0.11953712999820709], [0.13589458167552948], [0.13589458167552948], [0.059906892478466034], [0.10163264721632004], [0.4989919662475586], [0.9829901456832886], [0.5496669411659241], [0.9977123737335205], [0.27697888016700745], [0.13589458167552948], [0.5564699769020081], [0.4662799835205078], [0.9026569724082947], [0.9004705548286438], [0.06480152904987335], [0.9801414012908936], [0.13589458167552948], [0.13589458167552948], [0.5672428607940674], [0.11953712999820709], [0.9446703791618347], [0.10163264721632004], [0.11953712999820709], [0.13589458167552948], [0.06299466639757156], [0.21179810166358948], [0.06480152904987335], [0.13589458167552948], [0.11953712999820709], [0.13589458167552948], [0.10163264721632004], [0.5496669411659241], [0.010220625437796116], [0.06732486933469772], [0.9829901456832886], [0.1270255446434021], [0.10163264721632004], [0.4662799835205078], [0.002236933447420597], [0.4662799835205078], [0.11953712999820709], [0.4662799835205078], [0.1005452424287796], [0.950251579284668], [0.13589458167552948], [0.03208547085523605], [0.526709794998169], [0.004039178602397442], [0.11953712999820709], [0.9994885921478271], [0.5496669411659241], [0.4662799835205078], [0.526709794998169], [0.4989919662475586], [0.5071974992752075], [0.9216341376304626], [0.13589458167552948], [0.10163264721632004], [0.5065578818321228], [0.4662799835205078], [0.08088141679763794], [0.9829901456832886], [0.5496669411659241], [0.13589458167552948], [0.13589458167552948], [0.27697888016700745], [0.13589458167552948], [0.019410084933042526], [0.9863907098770142], [0.9004705548286438], [0.740831732749939], [0.98113614320755], [0.9803363680839539], [0.10163264721632004], [0.08773178607225418], [0.9708640575408936], [0.13589458167552948], [0.999690055847168], [0.10163264721632004], [0.9627453088760376], [0.13166837394237518], [0.0022731816861778498], [0.10163264721632004], [0.09485886245965958], [0.4662799835205078], [0.5071974992752075], [0.11214452981948853], [0.9964005947113037], [0.13589458167552948], [0.8091644048690796], [0.5496669411659241], [0.059906892478466034], [0.4989919662475586], [0.4989919662475586], [0.9359613656997681], [0.2779175639152527], [0.9150548577308655], [0.059906892478466034], [0.4662799835205078], [0.4989919662475586], [0.059906892478466034], [0.9829901456832886], [0.11953712999820709], [0.13589458167552948], [0.13589458167552948], [0.059906892478466034], [0.9308700561523438], [0.025054920464754105], [0.4662799835205078], [0.4989919662475586], [0.9189646244049072], [0.999690055847168], [0.13589458167552948], [0.9026569724082947], [0.11953712999820709], [0.9004705548286438], [0.11953712999820709], [0.9811156988143921], [0.526709794998169], [0.11953712999820709], [0.4989919662475586], [0.13589458167552948], [0.10163264721632004], [0.059906892478466034], [0.9720715284347534], [0.27697888016700745], [0.13589458167552948], [0.47986575961112976], [0.11953712999820709], [0.740831732749939], [0.11953712999820709], [0.9150548577308655], [0.9801414012908936], [0.9811156988143921], [0.9508504271507263], [0.08773178607225418], [0.13589458167552948], [0.10453294217586517], [0.47986575961112976], [0.9004705548286438], [0.1005452424287796], [0.9026569724082947], [0.6291354894638062], [0.9342933297157288], [0.11953712999820709], [0.47986575961112976], [0.11953712999820709], [0.13589459657669067], [0.13589459657669067], [0.13589458167552948], [0.13589458167552948], [0.9004705548286438], [0.11953712999820709], [0.06480152904987335], [0.11953712999820709], [0.9508504271507263], [0.5564699769020081], [0.10163264721632004], [0.13589458167552948], [0.4662799835205078], [0.13589458167552948], [0.4989919662475586], [0.11953712999820709], [0.4662799835205078], [0.13589458167552948], [0.9801414012908936], [0.6291354894638062], [0.13589458167552948], [0.9218390583992004], [0.10163264721632004], [0.09485886245965958], [0.09485886245965958], [0.059906892478466034], [0.5496669411659241], [0.5071974992752075], [0.4989919662475586], [0.5564699769020081], [0.5564699769020081], [0.13589458167552948], [0.13589459657669067], [0.16787205636501312], [0.13589458167552948], [0.13589458167552948], [0.4662799835205078], [0.4989919662475586], [0.13589458167552948], [0.9189646244049072], [0.13589458167552948], [0.13589458167552948], [0.9342933297157288], [0.01296817697584629], [0.4662799835205078], [0.13589458167552948], [0.13589458167552948], [0.10163264721632004], [0.1467498242855072], [0.11953712999820709], [0.4989919662475586], [0.9841369390487671], [0.21436527371406555], [0.9761222004890442], [0.9189646244049072], [0.6291354894638062], [0.11953712999820709], [0.11953712999820709], [0.13589458167552948], [0.4989919662475586], [0.9811156988143921], [0.5496669411659241], [0.740831732749939], [0.059906892478466034], [0.13589459657669067], [0.11102914065122604], [0.13589458167552948], [0.11953712999820709], [0.10163264721632004], [0.4662799835205078], [0.9994885921478271], [0.11953712999820709], [0.7660015821456909], [0.4662799835205078], [0.09485886245965958], [0.059906892478466034], [0.9508504271507263], [0.4662799835205078], [0.13589458167552948], [0.5564699769020081], [0.13589458167552948], [0.4662799835205078], [0.10163264721632004], [0.2219245582818985], [0.059906892478466034], [0.13589458167552948], [0.059906892478466034], [0.13589458167552948], [0.0014627192867919803], [0.9999998807907104], [0.11518517136573792], [0.5496669411659241], [0.10163264721632004], [0.4989919662475586], [0.059906892478466034], [0.9216341376304626], [0.9789732098579407], [0.05990688130259514], [0.059906892478466034], [0.17048108577728271], [0.5882106423377991], [0.4662799835205078], [0.9907654523849487], [0.13589458167552948], [0.13589458167552948], [0.6291354894638062], [0.0027267364785075188], [0.9150548577308655], [0.9216341376304626], [0.13589458167552948], [0.9708640575408936], [0.11518066376447678], [0.06480152904987335], [0.5496669411659241], [0.9789732098579407], [0.10163264721632004], [0.15862423181533813], [0.9829901456832886], [0.4662799835205078], [0.10163264721632004], [0.9841369390487671], [0.9994885921478271], [0.6133713126182556], [0.059906892478466034], [0.06299466639757156], [0.004039178602397442], [0.13589458167552948], [0.13589458167552948], [0.4989919662475586], [0.6154714226722717], [0.10163264721632004], [0.9342933297157288], [0.11953712999820709], [0.11214452981948853], [0.11953712999820709], [0.02674153633415699], [0.01616722345352173], [0.9727569818496704], [0.9359613656997681], [0.10163264721632004], [0.0028926299419254065], [0.9708640575408936], [0.11953712999820709], [0.9811586141586304], [0.11953712999820709], [0.13589458167552948], [0.9829901456832886], [0.09485886245965958], [0.950251579284668], [0.01616722345352173], [0.47986575961112976], [0.059906892478466034], [0.15862423181533813], [0.11729442328214645], [0.4989919662475586], [0.5564699769020081], [0.4989919662475586], [0.9801414012908936], [0.4989919662475586], [0.13589458167552948], [0.9829901456832886], [0.13589459657669067], [0.13589459657669067], [0.11518517136573792]]

In [26]:
filename = '../MLPClassifier30854.sav'
loaded_modelmlp = pickle.load(open(filename, 'rb'))

In [37]:
se = pd.Series(predictions)
df['check'] = se
df['check'] = df['check'].str.get(0)
print(se)
finaldf = []
for val in df.check:
    if val >= 0.5:
        finaldf.append(1)
    else:
        finaldf.append(0)

0      [0.13589458167552948]
1       [0.6291354894638062]
2      [0.11214452981948853]
3      [0.13589458167552948]
4       [0.5564699769020081]
               ...
413    [0.13589458167552948]
414     [0.9829901456832886]
415    [0.13589459657669067]
416    [0.13589459657669067]
417    [0.11518517136573792]
Length: 418, dtype: object

In [38]:
sub['Survived'] = finaldf
sub
sub.to_csv('../submission files/readymodel8293.csv', index=False)

In [ ]:
filename = '../models/RandomForestClassifier_model2079.sav'
loaded_modelrfc = pickle.load(open(filename, 'rb'))

In [27]:
y_predrf = loaded_modelmlp.predict(X)

In [15]:
sub = pd.read_csv('../submission files/gender_submission.csv', delimiter=',')
sub.drop(columns=['Survived'], inplace=True)

In [29]:
sub['Survived'] = y_predrf
sub
sub.to_csv('../submission files/readymlp30854.csv', index=False)

In [ ]:
filename = '../models/RandomForestClassifier_model2079.sav'
loaded_modelxgb = pickle.load(open(filename, 'rb'))

In [ ]:
y_predrf = loaded_modelxgb.predict(X)

In [ ]:
sub = pd.read_csv('../submission files/gender_submission.csv', delimiter=',')
sub.drop(columns=['Survived'], inplace=True)

In [ ]:
sub['Survived'] = y_predrf
sub
sub.to_csv('../submission files/readyrf2078.csv', index=False)

#  Decision Tree 78

In [ ]:
filename = '../models/XGBClassifier_model2078.sav'
loaded_modeldt = pickle.load(open(filename, 'rb'))

In [ ]:
y_preddt = loaded_modeldt.predict(X)
y_preddt

In [ ]:
sub = pd.read_csv('../submission files/gender_submission.csv', delimiter=',')
sub

In [ ]:
sub.drop(columns=['Survived'], inplace=True)

In [ ]:
sub['Survived'] = y_preddt

In [ ]:
sub
sub.to_csv('../submission files/readyxgb2078.csv', index=False)

# KNN

In [ ]:
filename = '../KNN_model.sav'
loaded_modelknn = pickle.load(open(filename, 'rb'))

In [ ]:
y_predknn = loaded_modelknn.predict(X)
y_predknn

# LOGISTIC REGRESSION PREDICTION 76%

In [ ]:
filename = 'LogisticRegression_model.sav'
loaded_modelreg = pickle.load(open(filename, 'rb'))
X

In [ ]:
y_predreg = loaded_modelreg.predict(X)
y_predreg

In [ ]:
sub = pd.read_csv('../submission files/gender_submission.csv', delimiter=',')
sub

In [ ]:
sub.drop(columns=['Survived'], inplace=True)

In [ ]:
sub['Survived'] = y_predknn

In [ ]:
sub
sub.to_csv('../submission files/readyknn.csv', index=False)

In [ ]:
filename = 'XGBClassifier_model.sav'
loaded_model = pickle.load(open(filename, 'rb'))
X

In [ ]:
xgb  = loaded_model.predict(X)
xgb

In [ ]:
filename = 'DecisionTree_model.sav'
load_model = pickle.load(open(filename, 'rb'))

In [ ]:
dstpredict = load_model.predict(X)

In [ ]:
sub = pd.read_csv('gender_submission.csv', delimiter=',')
sub.drop(columns=['Survived'], inplace=True)

In [ ]:
sub['Survived'] = xgb

In [ ]:
sub.to_csv('xgbready.csv', index=False)

In [ ]:
filename = 'RandomForest_model.sav'
load_randomf = pickle.load(open(filename, 'rb'))
rf = load_randomf.predict(X)
rf

In [ ]:
filename = '../XGBClassifier80_model.sav'
load_randomxg80 = pickle.load(open(filename, 'rb'))
y_predxgb80 = load_randomxg80.predict(X)

In [ ]:
sub = pd.read_csv('../submission files/gender_submission.csv', delimiter=',')
sub.drop(columns=['Survived'], inplace=True)
sub['Survived'] = y_predxgb80
sub.to_csv('../submission files/readyxgb80.csv', index=False)