In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
import pickle
import numpy as np
from sklearn.metrics import accuracy_score
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, BatchNormalization
from keras.optimizers import SGD
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

C:\Users\master\Anaconda3\lib\site-packages\h5py\__init__.py:72: UserWarning: h5py is running against HDF5 1.10.2 when it was built against 1.10.3, this may cause problems
  '{0}.{1}.{2}'.format(*version.hdf5_built_version_tuple)
Using TensorFlow backend.

In [2]:
df = pd.read_csv('../submission files/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
print(df.info())
df['Age'] = df['Age'].fillna(df['Age'].mean())
print(df.info())
labels = ['child','adult', 'old']
df['age_group'] = pd.cut(df['Age'], bins=3, labels=labels)
df['age_group']= df['age_group'].fillna('adult')
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          853 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
age_group        0
dtype: int64

In [4]:
labels = ['cheap', 'normal', 'expensive']
df['Fare_group'] = pd.cut(df['Fare'], bins=3, labels=labels)
df['Fare_group']= df['Fare_group'].fillna('cheap')
print(df.isnull().sum())
df

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
age_group        0
Fare_group       0
dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_group,Fare_group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,child,cheap
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,adult,cheap
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,child,cheap
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,adult,cheap
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,adult,cheap
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,adult,cheap
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,child,cheap
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,7.0,1,2,W./C. 6607,23.4500,NaN,S,child,cheap
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,child,cheap
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,adult,cheap

In [5]:
df.drop(columns= ['PassengerId', 'Name', 'Cabin', 'Embarked', 'Ticket','Age', 'Fare'], inplace=True)
df

     Survived  Pclass     Sex  SibSp  Parch age_group Fare_group
0           0       3    male      1      0     child      cheap
1           1       1  female      1      0     adult      cheap
2           1       3  female      0      0     child      cheap
3           1       1  female      1      0     adult      cheap
4           0       3    male      0      0     adult      cheap
..        ...     ...     ...    ...    ...       ...        ...
886         0       2    male      0      0     adult      cheap
887         1       1  female      0      0     child      cheap
888         0       3  female      1      2     child      cheap
889         1       1    male      0      0     child      cheap
890         0       3    male      0      0     adult      cheap

[891 rows x 7 columns]

In [6]:
y = df.iloc[:, 0].values
X = df.iloc[:,1:].values
X

array([[3, 'male', 1, 0, 'child', 'cheap'],
       [1, 'female', 1, 0, 'adult', 'cheap'],
       [3, 'female', 0, 0, 'child', 'cheap'],
       ...,
       [3, 'female', 1, 2, 'child', 'cheap'],
       [1, 'male', 0, 0, 'child', 'cheap'],
       [3, 'male', 0, 0, 'adult', 'cheap']], dtype=object)

In [7]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1,4,-1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[0.0 1.0 0.0 ... 3 1 0]
 [1.0 0.0 1.0 ... 1 1 0]
 [1.0 0.0 0.0 ... 3 0 0]
 ...
 [1.0 0.0 0.0 ... 3 1 2]
 [0.0 1.0 0.0 ... 1 0 0]
 [0.0 1.0 1.0 ... 3 0 0]]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 11)
print(X_train)
print(X_test)
print(y_train)
print(y_test)

[[0.0 1.0 0.0 ... 3 2 0]
 [0.0 1.0 1.0 ... 1 0 0]
 [0.0 1.0 1.0 ... 3 0 0]
 ...
 [0.0 1.0 0.0 ... 3 0 0]
 [0.0 1.0 0.0 ... 3 0 0]
 [0.0 1.0 0.0 ... 3 0 0]]
[[1.0 0.0 1.0 ... 3 1 0]
 [0.0 1.0 1.0 ... 3 0 0]
 [0.0 1.0 0.0 ... 3 0 0]
 ...
 [0.0 1.0 0.0 ... 3 0 0]
 [0.0 1.0 1.0 ... 1 0 0]
 [0.0 1.0 0.0 ... 1 1 0]]
[0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0 1 0 1 1 1 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 1 1 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0
 0 0 0 1 1 0 0 0 0 1 1 1 0 1 0 0 1 1 0 0 0 0 0 0 1 0 1 1 0 1 0 0 1 0 1 1 0
 1 0 1 0 1 0 1 1 0 0 1 1 0 1 0 1 1 0 1 0 1 1 0 0 1 0 1 0 0 0 0 0 0 1 0 1 0
 0 0 1 1 1 1 0 0 1 0 1 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 1 0 1 1 0 0 1 0 1 1 0
 1 1 1 1 1 0 0 0 0 0 0 0 1 0 1 0 0 1 1 0 0 1 0 0 1 1 1 0 1 1 1 1 0 0 0 0 0
 1 1 0 1 1 1 1 0 0 1 0 1 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0
 1 0 1 0 0 1 0 1 1 0 1 1 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 1 1 1 0 1
 0 0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 0
 0 1 0 0 1 1 0 1 0 0 1 0 0 1 1 0 1 1 0 0 1 0 1 1 0 0 0 1 1 0 0 1 0 1 1 0 1
 1 0 0 1 0 0 0 1 1 1 1 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 0
 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1
 0 0 1 1 0 0 0 0 1 1 0 1 0 0 1 1 0 1 0 0 1 0 0 0 0 1 0 0 1 1 1 1 0 1 0 1 1
 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0 1
 0 1 1 0 0 1 1 1 1 1 0 0 0 1 1 0 0 1 1 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 1 1
 0 0 0 0 0 0 0 0 0 1 1 0 0 1 1 0 1 0 1 1 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 1 0
 0 1 1 0 1 1 0 1 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 1 0 0 0 0
 0 0 0 1 0 0 1 0 1 0 1 0 1 0 0 1 1 0 1 0 1 0 0 1 0 1 0 1 1 1 0 0 0 0 1 0 0
 0 0 0 0 0 1 1 1 1 1 0 0 1 0 0 1 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 1 1 0 1 1 0
 0 0 1 0 1 1 0 0 0]
[1 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0
 0 0 1 0 0 1 1 0 1 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 1 1 1 0 0 0 0 1
 0 0 1 0 1 1 1 1 1 0 1 1 0 1 1 0 0 0 0 0 1 0 1 0 0 1 0 0 1 0 0 1 0 0 0 1 0
 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 1 1 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0
 1 0 0 1 0 0 1 1 0 0 0 1 0 1 0 1 0 0 1 1 0 1 0 1 0 0 0 0 0 0 1]

In [9]:
sc = StandardScaler()
X_train[:, 2:] = sc.fit_transform(X_train[:, 2:])
X_test[:, 2:] = sc.transform(X_test[:, 2:])
print(X_train)
print(X_test)

[[0.0 1.0 -1.0227301753122666 ... 0.8249189043748203 1.291688566808702
  -0.4811217256593604]
 [0.0 1.0 0.977775002771068 ... -1.557808316375167 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 0.977775002771068 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 ...
 [0.0 1.0 -1.0227301753122666 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 -1.0227301753122666 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 -1.0227301753122666 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]]
[[1.0 0.0 0.977775002771068 ... 0.8249189043748203 0.41160984951894514
  -0.4811217256593604]
 [0.0 1.0 0.977775002771068 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 -1.0227301753122666 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 ...
 [0.0 1.0 -1.0227301753122666 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 0.977775002771068 ... -1.557808316375167 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 -1.0227301753122666 ... -1.557808316375167 0.41160984951894514
  -0.4811217256593604]]

In [10]:
model = Sequential()
model.add(Dense(11, init='uniform', activation='relu', input_dim=11))
model.add(BatchNormalization())
model.add(Dense(64, init = 'uniform', activation='relu'))
model.add(Dropout(0.4))
model.add(Dense(32, init = 'uniform', activation='relu'))
model.add(Dropout(0.4))
model.add(BatchNormalization())
model.add(Dense(64, init = 'uniform', activation='relu'))
model.add(Dense(32, init = 'uniform', activation='relu'))
model.add(Dense(1, init='uniform', activation='sigmoid'))
model.compile(loss='binary_crossentropy',
 optimizer='adam',
 metrics=['accuracy'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 11)                132
_________________________________________________________________
batch_normalization_1 (Batch (None, 11)                44
_________________________________________________________________
dense_2 (Dense)              (None, 64)                768
_________________________________________________________________
dropout_1 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_3 (Dense)              (None, 32)                2080
_________________________________________________________________
dropout_2 (Dropout)          (None, 32)                0
_________________________________________________________________
batch_normalization_2 (Batch (None, 32)                128
_________________________________________________________________
dense_4 (Dense)              (None, 64)                2112
_________________________________________________________________
dense_5 (Dense)              (None, 32)                2080
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 33
=================================================================
Total params: 7,377
Trainable params: 7,291
Non-trainable params: 86
_________________________________________________________________

C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(11, activation="relu", input_dim=11, kernel_initializer="uniform")`

C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(64, activation="relu", kernel_initializer="uniform")`
  after removing the cwd from sys.path.
C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(32, activation="relu", kernel_initializer="uniform")`

C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(64, activation="relu", kernel_initializer="uniform")`
  if __name__ == '__main__':
C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(32, activation="relu", kernel_initializer="uniform")`
  # Remove the CWD from sys.path while we load stuff.
C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, activation="sigmoid", kernel_initializer="uniform")`
  # This is added back by InteractiveShellApp.init_path()

In [19]:
model.fit(X_train, y_train,validation_split=0.3,batch_size=32, epochs =100)

Train on 498 samples, validate on 214 samples
Epoch 1/100
498/498 [==============================] - 0s 54us/step - loss: 0.3701 - accuracy: 0.8434 - val_loss: 0.5086 - val_accuracy: 0.7477
Epoch 2/100
498/498 [==============================] - 0s 51us/step - loss: 0.4047 - accuracy: 0.8273 - val_loss: 0.4995 - val_accuracy: 0.7430
Epoch 3/100
498/498 [==============================] - 0s 50us/step - loss: 0.3855 - accuracy: 0.8213 - val_loss: 0.5243 - val_accuracy: 0.7336
Epoch 4/100
498/498 [==============================] - 0s 48us/step - loss: 0.3840 - accuracy: 0.8373 - val_loss: 0.5245 - val_accuracy: 0.7430
Epoch 5/100
498/498 [==============================] - 0s 48us/step - loss: 0.4147 - accuracy: 0.8012 - val_loss: 0.5102 - val_accuracy: 0.7617
Epoch 6/100
498/498 [==============================] - 0s 49us/step - loss: 0.3664 - accuracy: 0.8333 - val_loss: 0.4989 - val_accuracy: 0.7570
Epoch 7/100
498/498 [==============================] - 0s 50us/step - loss: 0.4001 - accuracy: 0.8153 - val_loss: 0.4933 - val_accuracy: 0.7523
Epoch 8/100
498/498 [==============================] - 0s 48us/step - loss: 0.3802 - accuracy: 0.8213 - val_loss: 0.4918 - val_accuracy: 0.7804
Epoch 9/100
498/498 [==============================] - 0s 48us/step - loss: 0.3728 - accuracy: 0.8273 - val_loss: 0.5234 - val_accuracy: 0.7664
Epoch 10/100
498/498 [==============================] - 0s 50us/step - loss: 0.3922 - accuracy: 0.8373 - val_loss: 0.5193 - val_accuracy: 0.7850
Epoch 11/100
498/498 [==============================] - 0s 51us/step - loss: 0.3942 - accuracy: 0.8173 - val_loss: 0.4899 - val_accuracy: 0.7897
Epoch 12/100
498/498 [==============================] - 0s 50us/step - loss: 0.3729 - accuracy: 0.8293 - val_loss: 0.4891 - val_accuracy: 0.7617
Epoch 13/100
498/498 [==============================] - 0s 52us/step - loss: 0.3891 - accuracy: 0.8032 - val_loss: 0.4922 - val_accuracy: 0.7570
Epoch 14/100
498/498 [==============================] - 0s 50us/step - loss: 0.4083 - accuracy: 0.8173 - val_loss: 0.4914 - val_accuracy: 0.7477
Epoch 15/100
498/498 [==============================] - 0s 51us/step - loss: 0.3839 - accuracy: 0.8173 - val_loss: 0.4796 - val_accuracy: 0.7570
Epoch 16/100
498/498 [==============================] - 0s 54us/step - loss: 0.4011 - accuracy: 0.8153 - val_loss: 0.4858 - val_accuracy: 0.7523
Epoch 17/100
498/498 [==============================] - 0s 50us/step - loss: 0.3804 - accuracy: 0.8353 - val_loss: 0.4966 - val_accuracy: 0.7523
Epoch 18/100
498/498 [==============================] - 0s 51us/step - loss: 0.3741 - accuracy: 0.8434 - val_loss: 0.4816 - val_accuracy: 0.7477
Epoch 19/100
498/498 [==============================] - 0s 48us/step - loss: 0.3999 - accuracy: 0.8153 - val_loss: 0.4956 - val_accuracy: 0.7523
Epoch 20/100
498/498 [==============================] - 0s 49us/step - loss: 0.3914 - accuracy: 0.8273 - val_loss: 0.4852 - val_accuracy: 0.7757
Epoch 21/100
498/498 [==============================] - 0s 50us/step - loss: 0.3769 - accuracy: 0.8313 - val_loss: 0.4908 - val_accuracy: 0.7757
Epoch 22/100
498/498 [==============================] - 0s 55us/step - loss: 0.3671 - accuracy: 0.8353 - val_loss: 0.5014 - val_accuracy: 0.7477
Epoch 23/100
498/498 [==============================] - 0s 52us/step - loss: 0.3957 - accuracy: 0.8353 - val_loss: 0.4854 - val_accuracy: 0.7477
Epoch 24/100
498/498 [==============================] - 0s 50us/step - loss: 0.4008 - accuracy: 0.8293 - val_loss: 0.4834 - val_accuracy: 0.7757
Epoch 25/100
498/498 [==============================] - 0s 54us/step - loss: 0.3827 - accuracy: 0.8454 - val_loss: 0.4938 - val_accuracy: 0.7757
Epoch 26/100
498/498 [==============================] - 0s 51us/step - loss: 0.3790 - accuracy: 0.8394 - val_loss: 0.4884 - val_accuracy: 0.7804
Epoch 27/100
498/498 [==============================] - 0s 52us/step - loss: 0.3694 - accuracy: 0.8394 - val_loss: 0.4963 - val_accuracy: 0.7804
Epoch 28/100
498/498 [==============================] - 0s 52us/step - loss: 0.3645 - accuracy: 0.8313 - val_loss: 0.4937 - val_accuracy: 0.7757
Epoch 29/100
498/498 [==============================] - 0s 52us/step - loss: 0.3953 - accuracy: 0.8112 - val_loss: 0.4925 - val_accuracy: 0.7523
Epoch 30/100
498/498 [==============================] - 0s 49us/step - loss: 0.4035 - accuracy: 0.8173 - val_loss: 0.4905 - val_accuracy: 0.7523
Epoch 31/100
498/498 [==============================] - 0s 50us/step - loss: 0.3891 - accuracy: 0.8233 - val_loss: 0.4746 - val_accuracy: 0.7804
Epoch 32/100
498/498 [==============================] - 0s 50us/step - loss: 0.3796 - accuracy: 0.8293 - val_loss: 0.4955 - val_accuracy: 0.7804
Epoch 33/100
498/498 [==============================] - 0s 50us/step - loss: 0.3750 - accuracy: 0.8233 - val_loss: 0.4915 - val_accuracy: 0.7757
Epoch 34/100
498/498 [==============================] - 0s 48us/step - loss: 0.3787 - accuracy: 0.8253 - val_loss: 0.4922 - val_accuracy: 0.7523
Epoch 35/100
498/498 [==============================] - 0s 47us/step - loss: 0.3802 - accuracy: 0.8253 - val_loss: 0.5011 - val_accuracy: 0.7477
Epoch 36/100
498/498 [==============================] - 0s 50us/step - loss: 0.3730 - accuracy: 0.8213 - val_loss: 0.4997 - val_accuracy: 0.7570
Epoch 37/100
498/498 [==============================] - 0s 48us/step - loss: 0.3654 - accuracy: 0.8454 - val_loss: 0.5043 - val_accuracy: 0.7570
Epoch 38/100
498/498 [==============================] - 0s 52us/step - loss: 0.3772 - accuracy: 0.8353 - val_loss: 0.4943 - val_accuracy: 0.7757
Epoch 39/100
498/498 [==============================] - 0s 49us/step - loss: 0.3812 - accuracy: 0.8233 - val_loss: 0.4929 - val_accuracy: 0.7477
Epoch 40/100
498/498 [==============================] - 0s 51us/step - loss: 0.3848 - accuracy: 0.8333 - val_loss: 0.4941 - val_accuracy: 0.7523
Epoch 41/100
498/498 [==============================] - ETA: 0s - loss: 0.3603 - accuracy: 0.84 - 0s 52us/step - loss: 0.3771 - accuracy: 0.8414 - val_loss: 0.4946 - val_accuracy: 0.7430
Epoch 42/100
498/498 [==============================] - 0s 48us/step - loss: 0.4218 - accuracy: 0.8112 - val_loss: 0.4942 - val_accuracy: 0.7570
Epoch 43/100
498/498 [==============================] - 0s 52us/step - loss: 0.3950 - accuracy: 0.8233 - val_loss: 0.4796 - val_accuracy: 0.7617
Epoch 44/100
498/498 [==============================] - 0s 48us/step - loss: 0.3932 - accuracy: 0.8173 - val_loss: 0.4829 - val_accuracy: 0.7617
Epoch 45/100
498/498 [==============================] - 0s 47us/step - loss: 0.3805 - accuracy: 0.8213 - val_loss: 0.5093 - val_accuracy: 0.7664
Epoch 46/100
498/498 [==============================] - 0s 50us/step - loss: 0.3954 - accuracy: 0.8313 - val_loss: 0.4904 - val_accuracy: 0.7477
Epoch 47/100
498/498 [==============================] - 0s 46us/step - loss: 0.3839 - accuracy: 0.8153 - val_loss: 0.4955 - val_accuracy: 0.7477
Epoch 48/100
498/498 [==============================] - 0s 50us/step - loss: 0.3723 - accuracy: 0.8454 - val_loss: 0.4915 - val_accuracy: 0.7570
Epoch 49/100
498/498 [==============================] - 0s 52us/step - loss: 0.3731 - accuracy: 0.8313 - val_loss: 0.4967 - val_accuracy: 0.7804
Epoch 50/100
498/498 [==============================] - 0s 50us/step - loss: 0.3835 - accuracy: 0.8233 - val_loss: 0.4958 - val_accuracy: 0.7710
Epoch 51/100
498/498 [==============================] - 0s 48us/step - loss: 0.3884 - accuracy: 0.8193 - val_loss: 0.4936 - val_accuracy: 0.7477
Epoch 52/100
498/498 [==============================] - 0s 50us/step - loss: 0.4154 - accuracy: 0.8193 - val_loss: 0.5061 - val_accuracy: 0.7430
Epoch 53/100
498/498 [==============================] - 0s 46us/step - loss: 0.3806 - accuracy: 0.8213 - val_loss: 0.4838 - val_accuracy: 0.7757
Epoch 54/100
498/498 [==============================] - 0s 50us/step - loss: 0.3919 - accuracy: 0.8153 - val_loss: 0.4815 - val_accuracy: 0.7523
Epoch 55/100
498/498 [==============================] - 0s 52us/step - loss: 0.3620 - accuracy: 0.8394 - val_loss: 0.4875 - val_accuracy: 0.7523
Epoch 56/100
498/498 [==============================] - 0s 47us/step - loss: 0.3622 - accuracy: 0.8193 - val_loss: 0.4998 - val_accuracy: 0.7477

Epoch 57/100
498/498 [==============================] - 0s 50us/step - loss: 0.3904 - accuracy: 0.8293 - val_loss: 0.4946 - val_accuracy: 0.7523
Epoch 58/100
498/498 [==============================] - 0s 50us/step - loss: 0.3651 - accuracy: 0.8394 - val_loss: 0.4886 - val_accuracy: 0.7523
Epoch 59/100
498/498 [==============================] - 0s 48us/step - loss: 0.3657 - accuracy: 0.8313 - val_loss: 0.4940 - val_accuracy: 0.7477
Epoch 60/100
498/498 [==============================] - 0s 48us/step - loss: 0.4065 - accuracy: 0.8173 - val_loss: 0.4873 - val_accuracy: 0.7477
Epoch 61/100
498/498 [==============================] - 0s 48us/step - loss: 0.3925 - accuracy: 0.8233 - val_loss: 0.4925 - val_accuracy: 0.7570
Epoch 62/100
498/498 [==============================] - 0s 50us/step - loss: 0.3696 - accuracy: 0.8373 - val_loss: 0.4997 - val_accuracy: 0.7523
Epoch 63/100
498/498 [==============================] - 0s 106us/step - loss: 0.3794 - accuracy: 0.8173 - val_loss: 0.4985 - val_accuracy: 0.7570
Epoch 64/100
498/498 [==============================] - 0s 103us/step - loss: 0.3539 - accuracy: 0.8333 - val_loss: 0.5018 - val_accuracy: 0.7570
Epoch 65/100
498/498 [==============================] - 0s 83us/step - loss: 0.3849 - accuracy: 0.8213 - val_loss: 0.5100 - val_accuracy: 0.7430
Epoch 66/100
498/498 [==============================] - 0s 82us/step - loss: 0.3609 - accuracy: 0.8373 - val_loss: 0.5102 - val_accuracy: 0.7523
Epoch 67/100
498/498 [==============================] - 0s 96us/step - loss: 0.3795 - accuracy: 0.8173 - val_loss: 0.5092 - val_accuracy: 0.7430
Epoch 68/100
498/498 [==============================] - 0s 88us/step - loss: 0.3631 - accuracy: 0.8434 - val_loss: 0.5155 - val_accuracy: 0.7430
Epoch 69/100
498/498 [==============================] - 0s 96us/step - loss: 0.3722 - accuracy: 0.8273 - val_loss: 0.5173 - val_accuracy: 0.7430
Epoch 70/100
498/498 [==============================] - 0s 94us/step - loss: 0.3555 - accuracy: 0.8333 - val_loss: 0.5255 - val_accuracy: 0.7430
Epoch 71/100
498/498 [==============================] - 0s 80us/step - loss: 0.3667 - accuracy: 0.8273 - val_loss: 0.5210 - val_accuracy: 0.7477
Epoch 72/100
498/498 [==============================] - 0s 86us/step - loss: 0.3734 - accuracy: 0.8454 - val_loss: 0.5190 - val_accuracy: 0.7430
Epoch 73/100
498/498 [==============================] - 0s 52us/step - loss: 0.3817 - accuracy: 0.8394 - val_loss: 0.5202 - val_accuracy: 0.7430
Epoch 74/100
498/498 [==============================] - 0s 52us/step - loss: 0.3806 - accuracy: 0.8153 - val_loss: 0.4976 - val_accuracy: 0.7477
Epoch 75/100
498/498 [==============================] - 0s 48us/step - loss: 0.3718 - accuracy: 0.8313 - val_loss: 0.5093 - val_accuracy: 0.7430
Epoch 76/100
498/498 [==============================] - 0s 50us/step - loss: 0.3785 - accuracy: 0.8193 - val_loss: 0.5128 - val_accuracy: 0.7477
Epoch 77/100
498/498 [==============================] - 0s 48us/step - loss: 0.3511 - accuracy: 0.8373 - val_loss: 0.5080 - val_accuracy: 0.7477
Epoch 78/100
498/498 [==============================] - 0s 52us/step - loss: 0.3529 - accuracy: 0.8293 - val_loss: 0.5112 - val_accuracy: 0.7477
Epoch 79/100
498/498 [==============================] - 0s 48us/step - loss: 0.3568 - accuracy: 0.8474 - val_loss: 0.5005 - val_accuracy: 0.7477
Epoch 80/100
498/498 [==============================] - 0s 50us/step - loss: 0.3685 - accuracy: 0.8313 - val_loss: 0.4924 - val_accuracy: 0.7430
Epoch 81/100
498/498 [==============================] - 0s 50us/step - loss: 0.3784 - accuracy: 0.8333 - val_loss: 0.4949 - val_accuracy: 0.7523
Epoch 82/100
498/498 [==============================] - 0s 50us/step - loss: 0.3855 - accuracy: 0.8353 - val_loss: 0.5039 - val_accuracy: 0.7523
Epoch 83/100
498/498 [==============================] - 0s 48us/step - loss: 0.3765 - accuracy: 0.8394 - val_loss: 0.5168 - val_accuracy: 0.7757
Epoch 84/100
498/498 [==============================] - 0s 51us/step - loss: 0.3975 - accuracy: 0.8052 - val_loss: 0.4982 - val_accuracy: 0.7523
Epoch 85/100
498/498 [==============================] - 0s 50us/step - loss: 0.3827 - accuracy: 0.8193 - val_loss: 0.4925 - val_accuracy: 0.7570
Epoch 86/100
498/498 [==============================] - 0s 50us/step - loss: 0.3847 - accuracy: 0.8112 - val_loss: 0.4949 - val_accuracy: 0.7570
Epoch 87/100
498/498 [==============================] - 0s 50us/step - loss: 0.3688 - accuracy: 0.8253 - val_loss: 0.5098 - val_accuracy: 0.7477
Epoch 88/100
498/498 [==============================] - 0s 50us/step - loss: 0.3648 - accuracy: 0.8394 - val_loss: 0.5083 - val_accuracy: 0.7477
Epoch 89/100
498/498 [==============================] - 0s 52us/step - loss: 0.3799 - accuracy: 0.8133 - val_loss: 0.5018 - val_accuracy: 0.7430
Epoch 90/100
498/498 [==============================] - 0s 50us/step - loss: 0.3572 - accuracy: 0.8293 - val_loss: 0.5072 - val_accuracy: 0.7477
Epoch 91/100
498/498 [==============================] - 0s 54us/step - loss: 0.3784 - accuracy: 0.8052 - val_loss: 0.4990 - val_accuracy: 0.7523
Epoch 92/100
498/498 [==============================] - 0s 48us/step - loss: 0.3769 - accuracy: 0.8293 - val_loss: 0.4938 - val_accuracy: 0.7477
Epoch 93/100
498/498 [==============================] - 0s 48us/step - loss: 0.3898 - accuracy: 0.8273 - val_loss: 0.4937 - val_accuracy: 0.7430
Epoch 94/100
498/498 [==============================] - 0s 50us/step - loss: 0.3726 - accuracy: 0.8353 - val_loss: 0.4943 - val_accuracy: 0.7430
Epoch 95/100
498/498 [==============================] - 0s 51us/step - loss: 0.3716 - accuracy: 0.8373 - val_loss: 0.4929 - val_accuracy: 0.7710
Epoch 96/100
498/498 [==============================] - 0s 49us/step - loss: 0.3774 - accuracy: 0.8293 - val_loss: 0.4994 - val_accuracy: 0.7523
Epoch 97/100
498/498 [==============================] - 0s 50us/step - loss: 0.3740 - accuracy: 0.8213 - val_loss: 0.5123 - val_accuracy: 0.7710
Epoch 98/100
498/498 [==============================] - 0s 48us/step - loss: 0.3924 - accuracy: 0.8153 - val_loss: 0.5027 - val_accuracy: 0.7664
Epoch 99/100
498/498 [==============================] - 0s 48us/step - loss: 0.3631 - accuracy: 0.8414 - val_loss: 0.5072 - val_accuracy: 0.7664
Epoch 100/100
498/498 [==============================] - 0s 50us/step - loss: 0.3689 - accuracy: 0.8293 - val_loss: 0.5066 - val_accuracy: 0.7430

In [20]:
predictions= model.predict(X_test).tolist()
print(predictions)

[[0.6412330269813538], [0.12378493696451187], [0.1175304651260376], [0.1169368103146553], [0.10992245376110077], [0.1169368103146553], [0.1175304651260376], [0.5530200600624084], [0.13458040356636047], [0.9174248576164246], [0.1169368103146553], [0.2130408138036728], [0.1175304651260376], [0.1175304651260376], [0.4678383767604828], [0.1175304651260376], [0.06464191526174545], [0.04995541274547577], [0.4810585081577301], [0.6064865589141846], [0.12353295087814331], [0.1053657978773117], [0.1175304651260376], [0.1175304651260376], [0.047275640070438385], [0.04995541274547577], [0.12353295087814331], [0.10756105184555054], [0.04995541274547577], [0.4810585081577301], [0.9820230603218079], [0.9222332835197449], [0.06464191526174545], [0.5711316466331482], [0.4810585081577301], [0.04995541274547577], [0.1525365710258484], [0.5990972518920898], [0.020709313452243805], [0.12378493696451187], [0.04995541274547577], [0.26533159613609314], [0.9222332835197449], [0.8866462707519531], [0.5530200600624084], [0.4920596182346344], [0.9988480806350708], [0.09196397662162781], [0.975447416305542], [0.047275640070438385], [0.4678383767604828], [0.1175304651260376], [0.1175304651260376], [0.48029133677482605], [0.04995541274547577], [0.5942599773406982], [0.06714119017124176], [0.1175304651260376], [0.1175304651260376], [0.06714119017124176], [0.04995541274547577], [0.2130408138036728], [0.4678383767604828], [0.4678383767604828], [0.06714119017124176], [0.12378493696451187], [0.5530200600624084], [0.4920596182346344], [0.9557623863220215], [0.1175304651260376], [0.2130408138036728], [0.1175304651260376], [0.12378493696451187], [0.9868929982185364], [0.12353295087814331], [0.12378493696451187], [0.38693156838417053], [0.12353295087814331], [0.9056506156921387], [0.1175304651260376], [0.9222332835197449], [0.5120388269424438], [0.9862106442451477], [0.12446239590644836], [0.9763779640197754], [0.975447416305542], [0.12378493696451187], [0.12378493696451187], [0.9942453503608704], [0.12378493696451187], [0.1175304651260376], [0.12353295087814331], [0.14614059031009674], [0.1175304651260376], [0.5530200600624084], [0.12378493696451187], [0.9763779640197754], [0.12378493696451187], [0.4678383767604828], [0.9763779640197754], [0.15078406035900116], [0.017806433141231537], [0.9998583793640137], [0.12378493696451187], [0.502213180065155], [0.1175304651260376], [0.1175304651260376], [0.12378493696451187], [0.4319804608821869], [0.1525365710258484], [0.1169368103146553], [0.12378493696451187], [0.9581722021102905], [0.029988912865519524], [0.1175304651260376], [0.020709313452243805], [0.12353295087814331], [0.12353295087814331], [0.9813692569732666], [0.12378493696451187], [0.12378493696451187], [0.2130408138036728], [0.1525365710258484], [0.10418052226305008], [0.001208396046422422], [0.12378493696451187], [0.5343696475028992], [0.04995539039373398], [0.5711316466331482], [0.06714119017124176], [0.9763779640197754], [0.4678383767604828], [0.5990972518920898], [0.07487691193819046], [0.5990972518920898], [0.09196397662162781], [0.9174248576164246], [0.9193142056465149], [0.12378493696451187], [0.9830785393714905], [0.9862106442451477], [0.1175304651260376], [0.12378493696451187], [0.03926878049969673], [0.12378493696451187], [0.7088925242424011], [0.12378493696451187], [0.06714119017124176], [0.9820230603218079], [0.12446239590644836], [0.4678383767604828], [0.6064865589141846], [0.5990972518920898], [0.12378493696451187], [0.9309142827987671], [0.9955288767814636], [0.4810585081577301], [0.1175304651260376], [0.5712602138519287], [0.5530200600624084], [0.1175304651260376], [0.9942453503608704], [0.12378493696451187], [0.5530200600624084], [0.11972713470458984], [0.5530200600624084], [0.9705528020858765], [0.4678383767604828], [0.12378493696451187], [0.9820230603218079], [0.12378493696451187], [0.8866462707519531], [0.12446239590644836], [0.13458040356636047], [0.07487691193819046], [0.12378493696451187], [0.1175304651260376], [0.4678383767604828], [0.21829693019390106]]

In [21]:
se = pd.Series(predictions)
df['check'] = se
df['check'] = df['check'].str.get(0)

In [22]:
finalpred = []
for val in df.check:
    if val >=0.5:
        finalpred.append(1)
    else:
        finalpred.append(0)

df['Prediction'] = finalpred

In [23]:
df

,Survived,Pclass,Sex,SibSp,Parch,age_group,Fare_group,check,Prediction
0,0,3,male,1,0,child,cheap,0.641233,1
1,1,1,female,1,0,adult,cheap,0.123785,0
2,1,3,female,0,0,child,cheap,0.117530,0
3,1,1,female,1,0,adult,cheap,0.116937,0
4,0,3,male,0,0,adult,cheap,0.109922,0
...,...,...,...,...,...,...,...,...,...
886,0,2,male,0,0,adult,cheap,NaN,0
887,1,1,female,0,0,child,cheap,NaN,0
888,0,3,female,1,2,child,cheap,NaN,0
889,1,1,male,0,0,child,cheap,NaN,0
890,0,3,male,0,0,adult,cheap,NaN,0

In [24]:
filename='titanic8293.sav'
pickle.dump(model, open(filename, 'wb'))