In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
import pickle
import numpy as np
from sklearn.metrics import accuracy_score
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, BatchNormalization
from keras.optimizers import SGD
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

C:\Users\master\Anaconda3\lib\site-packages\h5py\__init__.py:72: UserWarning: h5py is running against HDF5 1.10.2 when it was built against 1.10.3, this may cause problems
  '{0}.{1}.{2}'.format(*version.hdf5_built_version_tuple)
Using TensorFlow backend.

In [2]:
df = pd.read_csv('../submission files/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
print(df.info())
df['Age'] = df['Age'].fillna(df['Age'].mean())
print(df.info())
labels = ['child','adult', 'old']
df['age_group'] = pd.cut(df['Age'], bins=3, labels=labels)
df['age_group']= df['age_group'].fillna('adult')
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          882 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
age_group        0
dtype: int64

In [4]:
labels = ['cheap', 'normal', 'expensive']
df['Fare_group'] = pd.cut(df['Fare'], bins=3, labels=labels)
df['Fare_group']= df['Fare_group'].fillna('cheap')
print(df.isnull().sum())
df

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
age_group        0
Fare_group       0
dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_group,Fare_group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,child,cheap
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,adult,cheap
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,child,cheap
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,adult,cheap
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,adult,cheap
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,adult,cheap
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,child,cheap
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,7.0,1,2,W./C. 6607,23.4500,NaN,S,child,cheap
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,child,cheap
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,adult,cheap

In [5]:
df.drop(columns= ['PassengerId', 'Name', 'Cabin', 'Embarked', 'Ticket','Age', 'Fare'], inplace=True)
df

     Survived  Pclass     Sex  SibSp  Parch age_group Fare_group
0           0       3    male      1      0     child      cheap
1           1       1  female      1      0     adult      cheap
2           1       3  female      0      0     child      cheap
3           1       1  female      1      0     adult      cheap
4           0       3    male      0      0     adult      cheap
..        ...     ...     ...    ...    ...       ...        ...
886         0       2    male      0      0     adult      cheap
887         1       1  female      0      0     child      cheap
888         0       3  female      1      2     child      cheap
889         1       1    male      0      0     child      cheap
890         0       3    male      0      0     adult      cheap

[891 rows x 7 columns]

In [6]:
y = df.iloc[:, 0].values
X = df.iloc[:,1:].values
X

array([[3, 'male', 1, 0, 'child', 'cheap'],
       [1, 'female', 1, 0, 'adult', 'cheap'],
       [3, 'female', 0, 0, 'child', 'cheap'],
       ...,
       [3, 'female', 1, 2, 'child', 'cheap'],
       [1, 'male', 0, 0, 'child', 'cheap'],
       [3, 'male', 0, 0, 'adult', 'cheap']], dtype=object)

In [7]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1,4,-1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[0.0 1.0 0.0 ... 3 1 0]
 [1.0 0.0 1.0 ... 1 1 0]
 [1.0 0.0 0.0 ... 3 0 0]
 ...
 [1.0 0.0 0.0 ... 3 1 2]
 [0.0 1.0 0.0 ... 1 0 0]
 [0.0 1.0 1.0 ... 3 0 0]]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 11)
print(X_train)
print(X_test)
print(y_train)
print(y_test)

[[0.0 1.0 0.0 ... 3 2 0]
 [0.0 1.0 1.0 ... 1 0 0]
 [0.0 1.0 1.0 ... 3 0 0]
 ...
 [0.0 1.0 0.0 ... 3 0 0]
 [0.0 1.0 0.0 ... 3 0 0]
 [0.0 1.0 0.0 ... 3 0 0]]
[[1.0 0.0 1.0 ... 3 1 0]
 [0.0 1.0 1.0 ... 3 0 0]
 [0.0 1.0 0.0 ... 3 0 0]
 ...
 [0.0 1.0 0.0 ... 3 0 0]
 [0.0 1.0 1.0 ... 1 0 0]
 [0.0 1.0 0.0 ... 1 1 0]]
[0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0 1 0 1 1 1 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 1 1 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0
 0 0 0 1 1 0 0 0 0 1 1 1 0 1 0 0 1 1 0 0 0 0 0 0 1 0 1 1 0 1 0 0 1 0 1 1 0
 1 0 1 0 1 0 1 1 0 0 1 1 0 1 0 1 1 0 1 0 1 1 0 0 1 0 1 0 0 0 0 0 0 1 0 1 0
 0 0 1 1 1 1 0 0 1 0 1 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 1 0 1 1 0 0 1 0 1 1 0
 1 1 1 1 1 0 0 0 0 0 0 0 1 0 1 0 0 1 1 0 0 1 0 0 1 1 1 0 1 1 1 1 0 0 0 0 0
 1 1 0 1 1 1 1 0 0 1 0 1 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0
 1 0 1 0 0 1 0 1 1 0 1 1 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 1 1 1 0 1
 0 0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 0
 0 1 0 0 1 1 0 1 0 0 1 0 0 1 1 0 1 1 0 0 1 0 1 1 0 0 0 1 1 0 0 1 0 1 1 0 1
 1 0 0 1 0 0 0 1 1 1 1 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 0
 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1
 0 0 1 1 0 0 0 0 1 1 0 1 0 0 1 1 0 1 0 0 1 0 0 0 0 1 0 0 1 1 1 1 0 1 0 1 1
 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0 1
 0 1 1 0 0 1 1 1 1 1 0 0 0 1 1 0 0 1 1 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 1 1
 0 0 0 0 0 0 0 0 0 1 1 0 0 1 1 0 1 0 1 1 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 1 0
 0 1 1 0 1 1 0 1 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 1 0 0 0 0
 0 0 0 1 0 0 1 0 1 0 1 0 1 0 0 1 1 0 1 0 1 0 0 1 0 1 0 1 1 1 0 0 0 0 1 0 0
 0 0 0 0 0 1 1 1 1 1 0 0 1 0 0 1 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 1 1 0 1 1 0
 0 0 1 0 1 1 0 0 0]
[1 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0
 0 0 1 0 0 1 1 0 1 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 1 1 1 0 0 0 0 1
 0 0 1 0 1 1 1 1 1 0 1 1 0 1 1 0 0 0 0 0 1 0 1 0 0 1 0 0 1 0 0 1 0 0 0 1 0
 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 1 1 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0
 1 0 0 1 0 0 1 1 0 0 0 1 0 1 0 1 0 0 1 1 0 1 0 1 0 0 0 0 0 0 1]

In [9]:
sc = StandardScaler()
X_train[:, 2:] = sc.fit_transform(X_train[:, 2:])
X_test[:, 2:] = sc.transform(X_test[:, 2:])
print(X_train)
print(X_test)

[[0.0 1.0 -0.9805266477189967 ... 0.8249189043748203 1.291688566808702
  -0.4811217256593604]
 [0.0 1.0 1.019860094905432 ... -1.557808316375167 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 1.019860094905432 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 ...
 [0.0 1.0 -0.9805266477189967 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 -0.9805266477189967 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 -0.9805266477189967 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]]
[[1.0 0.0 1.019860094905432 ... 0.8249189043748203 0.41160984951894514
  -0.4811217256593604]
 [0.0 1.0 1.019860094905432 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 -0.9805266477189967 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 ...
 [0.0 1.0 -0.9805266477189967 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 1.019860094905432 ... -1.557808316375167 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 -0.9805266477189967 ... -1.557808316375167 0.41160984951894514
  -0.4811217256593604]]

In [44]:
model = Sequential()
model.add(Dense(11, init='uniform', activation='relu', input_dim=11))
model.add(BatchNormalization())
model.add(Dense(64, init = 'uniform', activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(32, init = 'uniform', activation='relu'))
model.add(Dropout(0.4))
model.add(BatchNormalization())
model.add(Dense(64, init = 'uniform', activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(32, init = 'uniform', activation='relu'))
model.add(Dense(16, init = 'uniform', activation='relu'))
model.add(Dense(1, init='uniform', activation='sigmoid'))
model.compile(loss='binary_crossentropy',
 optimizer='adam',
 metrics=['accuracy'])
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_26 (Dense)             (None, 11)                132
_________________________________________________________________
batch_normalization_9 (Batch (None, 11)                44
_________________________________________________________________
dense_27 (Dense)             (None, 64)                768
_________________________________________________________________
dropout_12 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_28 (Dense)             (None, 32)                2080
_________________________________________________________________
dropout_13 (Dropout)         (None, 32)                0
_________________________________________________________________
batch_normalization_10 (Batc (None, 32)                128
_________________________________________________________________
dense_29 (Dense)             (None, 64)                2112
_________________________________________________________________
dropout_14 (Dropout)         (None, 64)                0
_________________________________________________________________
dense_30 (Dense)             (None, 32)                2080
_________________________________________________________________
dense_31 (Dense)             (None, 16)                528
_________________________________________________________________
dense_32 (Dense)             (None, 1)                 17
=================================================================
Total params: 7,889
Trainable params: 7,803
Non-trainable params: 86
_________________________________________________________________

C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(11, activation="relu", input_dim=11, kernel_initializer="uniform")`

C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(64, activation="relu", kernel_initializer="uniform")`
  after removing the cwd from sys.path.
C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(32, activation="relu", kernel_initializer="uniform")`

C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(64, activation="relu", kernel_initializer="uniform")`
  if __name__ == '__main__':
C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(32, activation="relu", kernel_initializer="uniform")`
  # This is added back by InteractiveShellApp.init_path()
C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(16, activation="relu", kernel_initializer="uniform")`
  if sys.path[0] == '':
C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, activation="sigmoid", kernel_initializer="uniform")`
  del sys.path[0]

In [45]:
model.fit(X_train, y_train,validation_split=0.3,batch_size=32, epochs =100)

Train on 498 samples, validate on 214 samples
Epoch 1/100
498/498 [==============================] - 1s 1ms/step - loss: 0.6925 - accuracy: 0.5683 - val_loss: 0.6918 - val_accuracy: 0.6075
Epoch 2/100
498/498 [==============================] - 0s 64us/step - loss: 0.6896 - accuracy: 0.6064 - val_loss: 0.6895 - val_accuracy: 0.6075
Epoch 3/100
498/498 [==============================] - 0s 90us/step - loss: 0.6675 - accuracy: 0.7390 - val_loss: 0.6829 - val_accuracy: 0.6075
Epoch 4/100
498/498 [==============================] - 0s 73us/step - loss: 0.5635 - accuracy: 0.7952 - val_loss: 0.6561 - val_accuracy: 0.6075
Epoch 5/100
498/498 [==============================] - 0s 62us/step - loss: 0.4852 - accuracy: 0.7952 - val_loss: 0.6340 - val_accuracy: 0.6215
Epoch 6/100
498/498 [==============================] - 0s 76us/step - loss: 0.4479 - accuracy: 0.7992 - val_loss: 0.6375 - val_accuracy: 0.6215
Epoch 7/100
498/498 [==============================] - 0s 64us/step - loss: 0.4553 - accuracy: 0.7912 - val_loss: 0.6352 - val_accuracy: 0.6449
Epoch 8/100
498/498 [==============================] - 0s 74us/step - loss: 0.4311 - accuracy: 0.8032 - val_loss: 0.6307 - val_accuracy: 0.6449
Epoch 9/100
498/498 [==============================] - 0s 74us/step - loss: 0.4285 - accuracy: 0.8032 - val_loss: 0.6238 - val_accuracy: 0.6729
Epoch 10/100
498/498 [==============================] - 0s 60us/step - loss: 0.4362 - accuracy: 0.8032 - val_loss: 0.6170 - val_accuracy: 0.6729
Epoch 11/100
498/498 [==============================] - 0s 70us/step - loss: 0.4361 - accuracy: 0.8032 - val_loss: 0.6144 - val_accuracy: 0.6822
Epoch 12/100
498/498 [==============================] - 0s 68us/step - loss: 0.4099 - accuracy: 0.8213 - val_loss: 0.6067 - val_accuracy: 0.6729
Epoch 13/100
498/498 [==============================] - 0s 69us/step - loss: 0.4056 - accuracy: 0.8253 - val_loss: 0.5962 - val_accuracy: 0.6916
Epoch 14/100
498/498 [==============================] - 0s 60us/step - loss: 0.4286 - accuracy: 0.8193 - val_loss: 0.5922 - val_accuracy: 0.6916
Epoch 15/100
498/498 [==============================] - 0s 68us/step - loss: 0.4198 - accuracy: 0.8133 - val_loss: 0.5765 - val_accuracy: 0.7664
Epoch 16/100
498/498 [==============================] - 0s 61us/step - loss: 0.4104 - accuracy: 0.8253 - val_loss: 0.5713 - val_accuracy: 0.7664
Epoch 17/100
498/498 [==============================] - 0s 70us/step - loss: 0.4054 - accuracy: 0.8133 - val_loss: 0.5688 - val_accuracy: 0.7570
Epoch 18/100
498/498 [==============================] - 0s 58us/step - loss: 0.3953 - accuracy: 0.8373 - val_loss: 0.5642 - val_accuracy: 0.7664
Epoch 19/100
498/498 [==============================] - 0s 70us/step - loss: 0.4166 - accuracy: 0.8233 - val_loss: 0.5546 - val_accuracy: 0.7664
Epoch 20/100
498/498 [==============================] - 0s 58us/step - loss: 0.4139 - accuracy: 0.8173 - val_loss: 0.5477 - val_accuracy: 0.7617
Epoch 21/100
498/498 [==============================] - 0s 66us/step - loss: 0.4134 - accuracy: 0.8112 - val_loss: 0.5347 - val_accuracy: 0.7430
Epoch 22/100
498/498 [==============================] - 0s 54us/step - loss: 0.4036 - accuracy: 0.8253 - val_loss: 0.5294 - val_accuracy: 0.7430
Epoch 23/100
498/498 [==============================] - 0s 60us/step - loss: 0.4054 - accuracy: 0.8253 - val_loss: 0.5259 - val_accuracy: 0.7523
Epoch 24/100
498/498 [==============================] - 0s 56us/step - loss: 0.4296 - accuracy: 0.8052 - val_loss: 0.5222 - val_accuracy: 0.7617
Epoch 25/100
498/498 [==============================] - 0s 60us/step - loss: 0.3894 - accuracy: 0.8353 - val_loss: 0.5067 - val_accuracy: 0.7523
Epoch 26/100
498/498 [==============================] - 0s 58us/step - loss: 0.4084 - accuracy: 0.8153 - val_loss: 0.5007 - val_accuracy: 0.7523
Epoch 27/100
498/498 [==============================] - 0s 56us/step - loss: 0.3804 - accuracy: 0.8353 - val_loss: 0.5036 - val_accuracy: 0.7383
Epoch 28/100
498/498 [==============================] - 0s 50us/step - loss: 0.3842 - accuracy: 0.8233 - val_loss: 0.5055 - val_accuracy: 0.7383
Epoch 29/100
498/498 [==============================] - 0s 68us/step - loss: 0.4124 - accuracy: 0.8273 - val_loss: 0.5015 - val_accuracy: 0.7523
Epoch 30/100
498/498 [==============================] - 0s 52us/step - loss: 0.3857 - accuracy: 0.8353 - val_loss: 0.4927 - val_accuracy: 0.7523
Epoch 31/100
498/498 [==============================] - 0s 52us/step - loss: 0.3857 - accuracy: 0.8394 - val_loss: 0.4890 - val_accuracy: 0.7523
Epoch 32/100
498/498 [==============================] - 0s 62us/step - loss: 0.4045 - accuracy: 0.8153 - val_loss: 0.4952 - val_accuracy: 0.7570
Epoch 33/100
498/498 [==============================] - 0s 50us/step - loss: 0.4122 - accuracy: 0.8253 - val_loss: 0.4959 - val_accuracy: 0.7570
Epoch 34/100
498/498 [==============================] - 0s 59us/step - loss: 0.3921 - accuracy: 0.8133 - val_loss: 0.5028 - val_accuracy: 0.7617
Epoch 35/100
498/498 [==============================] - 0s 52us/step - loss: 0.4048 - accuracy: 0.8373 - val_loss: 0.4938 - val_accuracy: 0.7664
Epoch 36/100
498/498 [==============================] - 0s 58us/step - loss: 0.3865 - accuracy: 0.8394 - val_loss: 0.5006 - val_accuracy: 0.7523
Epoch 37/100
498/498 [==============================] - 0s 60us/step - loss: 0.3992 - accuracy: 0.8133 - val_loss: 0.4987 - val_accuracy: 0.7664
Epoch 38/100
498/498 [==============================] - 0s 52us/step - loss: 0.3996 - accuracy: 0.8112 - val_loss: 0.4972 - val_accuracy: 0.7570
Epoch 39/100
498/498 [==============================] - 0s 54us/step - loss: 0.4099 - accuracy: 0.8253 - val_loss: 0.5015 - val_accuracy: 0.7570
Epoch 40/100
498/498 [==============================] - 0s 58us/step - loss: 0.3923 - accuracy: 0.8353 - val_loss: 0.4988 - val_accuracy: 0.7617
Epoch 41/100
498/498 [==============================] - 0s 64us/step - loss: 0.3887 - accuracy: 0.8333 - val_loss: 0.5024 - val_accuracy: 0.7477
Epoch 42/100
498/498 [==============================] - 0s 60us/step - loss: 0.3788 - accuracy: 0.8494 - val_loss: 0.5085 - val_accuracy: 0.7523
Epoch 43/100
498/498 [==============================] - 0s 60us/step - loss: 0.4190 - accuracy: 0.8213 - val_loss: 0.5065 - val_accuracy: 0.7570
Epoch 44/100
498/498 [==============================] - 0s 56us/step - loss: 0.4051 - accuracy: 0.8173 - val_loss: 0.4948 - val_accuracy: 0.7523
Epoch 45/100
498/498 [==============================] - 0s 66us/step - loss: 0.4021 - accuracy: 0.8233 - val_loss: 0.5036 - val_accuracy: 0.7523
Epoch 46/100
498/498 [==============================] - 0s 56us/step - loss: 0.3773 - accuracy: 0.8394 - val_loss: 0.5178 - val_accuracy: 0.7523
Epoch 47/100
498/498 [==============================] - 0s 62us/step - loss: 0.4042 - accuracy: 0.8133 - val_loss: 0.5043 - val_accuracy: 0.7617
Epoch 48/100
498/498 [==============================] - 0s 56us/step - loss: 0.3837 - accuracy: 0.8353 - val_loss: 0.5156 - val_accuracy: 0.7523
Epoch 49/100
498/498 [==============================] - 0s 62us/step - loss: 0.3928 - accuracy: 0.8233 - val_loss: 0.5012 - val_accuracy: 0.7570
Epoch 50/100
498/498 [==============================] - 0s 54us/step - loss: 0.3920 - accuracy: 0.8213 - val_loss: 0.5125 - val_accuracy: 0.7523
Epoch 51/100
498/498 [==============================] - 0s 70us/step - loss: 0.4076 - accuracy: 0.8293 - val_loss: 0.5082 - val_accuracy: 0.7617
Epoch 52/100
498/498 [==============================] - 0s 62us/step - loss: 0.3837 - accuracy: 0.8414 - val_loss: 0.5171 - val_accuracy: 0.7523
Epoch 53/100
498/498 [==============================] - 0s 54us/step - loss: 0.4018 - accuracy: 0.8233 - val_loss: 0.5185 - val_accuracy: 0.7523
Epoch 54/100
498/498 [==============================] - 0s 64us/step - loss: 0.3991 - accuracy: 0.8253 - val_loss: 0.5085 - val_accuracy: 0.7617
Epoch 55/100
498/498 [==============================] - 0s 64us/step - loss: 0.3763 - accuracy: 0.8213 - val_loss: 0.5117 - val_accuracy: 0.7570
Epoch 56/100
498/498 [==============================] - 0s 54us/step - loss: 0.3807 - accuracy: 0.8394 - val_loss: 0.5185 - val_accuracy: 0.7617
Epoch 57/100

498/498 [==============================] - 0s 62us/step - loss: 0.3905 - accuracy: 0.8173 - val_loss: 0.5243 - val_accuracy: 0.7570
Epoch 58/100
498/498 [==============================] - 0s 54us/step - loss: 0.3829 - accuracy: 0.8313 - val_loss: 0.5197 - val_accuracy: 0.7570
Epoch 59/100
498/498 [==============================] - 0s 64us/step - loss: 0.3808 - accuracy: 0.8474 - val_loss: 0.5213 - val_accuracy: 0.7664
Epoch 60/100
498/498 [==============================] - 0s 52us/step - loss: 0.3853 - accuracy: 0.8213 - val_loss: 0.5193 - val_accuracy: 0.7617
Epoch 61/100
498/498 [==============================] - 0s 64us/step - loss: 0.3798 - accuracy: 0.8434 - val_loss: 0.5204 - val_accuracy: 0.7617
Epoch 62/100
498/498 [==============================] - 0s 66us/step - loss: 0.3795 - accuracy: 0.8193 - val_loss: 0.5252 - val_accuracy: 0.7617
Epoch 63/100
498/498 [==============================] - 0s 52us/step - loss: 0.3916 - accuracy: 0.8333 - val_loss: 0.5160 - val_accuracy: 0.7617
Epoch 64/100
498/498 [==============================] - 0s 64us/step - loss: 0.3727 - accuracy: 0.8333 - val_loss: 0.5265 - val_accuracy: 0.7570
Epoch 65/100
498/498 [==============================] - 0s 64us/step - loss: 0.3902 - accuracy: 0.8293 - val_loss: 0.5231 - val_accuracy: 0.7617
Epoch 66/100
498/498 [==============================] - 0s 56us/step - loss: 0.3874 - accuracy: 0.8353 - val_loss: 0.5176 - val_accuracy: 0.7570
Epoch 67/100
498/498 [==============================] - 0s 64us/step - loss: 0.4161 - accuracy: 0.8092 - val_loss: 0.5098 - val_accuracy: 0.7664
Epoch 68/100
498/498 [==============================] - 0s 54us/step - loss: 0.3800 - accuracy: 0.8333 - val_loss: 0.5164 - val_accuracy: 0.7664
Epoch 69/100
498/498 [==============================] - 0s 58us/step - loss: 0.3744 - accuracy: 0.8293 - val_loss: 0.5354 - val_accuracy: 0.7664
Epoch 70/100
498/498 [==============================] - 0s 52us/step - loss: 0.3802 - accuracy: 0.8414 - val_loss: 0.5223 - val_accuracy: 0.7617
Epoch 71/100
498/498 [==============================] - 0s 54us/step - loss: 0.3846 - accuracy: 0.8394 - val_loss: 0.5259 - val_accuracy: 0.7617
Epoch 72/100
498/498 [==============================] - 0s 60us/step - loss: 0.3695 - accuracy: 0.8414 - val_loss: 0.5399 - val_accuracy: 0.7617
Epoch 73/100
498/498 [==============================] - 0s 56us/step - loss: 0.3848 - accuracy: 0.8133 - val_loss: 0.5194 - val_accuracy: 0.7664
Epoch 74/100
498/498 [==============================] - 0s 58us/step - loss: 0.3883 - accuracy: 0.8273 - val_loss: 0.5215 - val_accuracy: 0.7710
Epoch 75/100
498/498 [==============================] - 0s 52us/step - loss: 0.3934 - accuracy: 0.8213 - val_loss: 0.5157 - val_accuracy: 0.7664
Epoch 76/100
498/498 [==============================] - 0s 62us/step - loss: 0.3642 - accuracy: 0.8414 - val_loss: 0.5211 - val_accuracy: 0.7664
Epoch 77/100
498/498 [==============================] - 0s 64us/step - loss: 0.3832 - accuracy: 0.8353 - val_loss: 0.5082 - val_accuracy: 0.7570
Epoch 78/100
498/498 [==============================] - 0s 52us/step - loss: 0.3689 - accuracy: 0.8434 - val_loss: 0.5260 - val_accuracy: 0.7523
Epoch 79/100
498/498 [==============================] - 0s 64us/step - loss: 0.4047 - accuracy: 0.8353 - val_loss: 0.5165 - val_accuracy: 0.7570
Epoch 80/100
498/498 [==============================] - 0s 60us/step - loss: 0.3819 - accuracy: 0.8373 - val_loss: 0.5216 - val_accuracy: 0.7570
Epoch 81/100
498/498 [==============================] - 0s 54us/step - loss: 0.4156 - accuracy: 0.8032 - val_loss: 0.5251 - val_accuracy: 0.7570
Epoch 82/100
498/498 [==============================] - 0s 78us/step - loss: 0.3812 - accuracy: 0.8333 - val_loss: 0.5185 - val_accuracy: 0.7570
Epoch 83/100
498/498 [==============================] - 0s 60us/step - loss: 0.3702 - accuracy: 0.8313 - val_loss: 0.5152 - val_accuracy: 0.7523
Epoch 84/100
498/498 [==============================] - 0s 66us/step - loss: 0.3720 - accuracy: 0.8394 - val_loss: 0.5299 - val_accuracy: 0.7523
Epoch 85/100
498/498 [==============================] - 0s 54us/step - loss: 0.3848 - accuracy: 0.8394 - val_loss: 0.5232 - val_accuracy: 0.7570
Epoch 86/100
498/498 [==============================] - 0s 60us/step - loss: 0.3714 - accuracy: 0.8353 - val_loss: 0.5222 - val_accuracy: 0.7617
Epoch 87/100
498/498 [==============================] - 0s 64us/step - loss: 0.3780 - accuracy: 0.8313 - val_loss: 0.5141 - val_accuracy: 0.7617
Epoch 88/100
498/498 [==============================] - 0s 54us/step - loss: 0.3770 - accuracy: 0.8394 - val_loss: 0.5229 - val_accuracy: 0.7664
Epoch 89/100
498/498 [==============================] - 0s 62us/step - loss: 0.3745 - accuracy: 0.8434 - val_loss: 0.5124 - val_accuracy: 0.7664
Epoch 90/100
498/498 [==============================] - 0s 62us/step - loss: 0.3893 - accuracy: 0.8293 - val_loss: 0.5209 - val_accuracy: 0.7664
Epoch 91/100
498/498 [==============================] - 0s 50us/step - loss: 0.3990 - accuracy: 0.8233 - val_loss: 0.5124 - val_accuracy: 0.7664
Epoch 92/100
498/498 [==============================] - 0s 62us/step - loss: 0.3892 - accuracy: 0.8474 - val_loss: 0.5094 - val_accuracy: 0.7664
Epoch 93/100
498/498 [==============================] - 0s 52us/step - loss: 0.3754 - accuracy: 0.8253 - val_loss: 0.5233 - val_accuracy: 0.7570
Epoch 94/100
498/498 [==============================] - 0s 64us/step - loss: 0.3753 - accuracy: 0.8434 - val_loss: 0.5301 - val_accuracy: 0.7523
Epoch 95/100
498/498 [==============================] - 0s 58us/step - loss: 0.3781 - accuracy: 0.8233 - val_loss: 0.5184 - val_accuracy: 0.7570
Epoch 96/100
498/498 [==============================] - 0s 78us/step - loss: 0.3761 - accuracy: 0.8293 - val_loss: 0.5203 - val_accuracy: 0.7477
Epoch 97/100
498/498 [==============================] - 0s 60us/step - loss: 0.3842 - accuracy: 0.8414 - val_loss: 0.5173 - val_accuracy: 0.7617
Epoch 98/100
498/498 [==============================] - 0s 75us/step - loss: 0.3827 - accuracy: 0.8353 - val_loss: 0.5241 - val_accuracy: 0.7617
Epoch 99/100
498/498 [==============================] - 0s 56us/step - loss: 0.3815 - accuracy: 0.8333 - val_loss: 0.5338 - val_accuracy: 0.7664
Epoch 100/100
498/498 [==============================] - 0s 60us/step - loss: 0.4020 - accuracy: 0.8253 - val_loss: 0.5063 - val_accuracy: 0.7664

In [46]:
predictions= model.predict(X_test).tolist()
print(predictions)

[[0.7534602880477905], [0.19216901063919067], [0.14531074464321136], [0.05339082330465317], [0.15636852383613586], [0.05339082330465317], [0.14531074464321136], [0.5792263150215149], [0.09553523361682892], [0.9599935412406921], [0.05339082330465317], [0.23241853713989258], [0.14531074464321136], [0.14531074464321136], [0.04479841887950897], [0.14531074464321136], [0.23241853713989258], [0.060103900730609894], [0.45990100502967834], [0.6162369251251221], [0.12180211395025253], [0.43682029843330383], [0.14531074464321136], [0.14531074464321136], [0.0841446965932846], [0.060103900730609894], [0.12180211395025253], [0.019260192289948463], [0.060103900730609894], [0.45990100502967834], [0.9986323714256287], [0.9665386080741882], [0.06965197622776031], [0.5666226744651794], [0.45990100502967834], [0.060103900730609894], [0.04413287341594696], [0.5598713755607605], [0.06284042447805405], [0.19216901063919067], [0.060103900730609894], [0.1853913962841034], [0.9665386080741882], [0.6714059114456177], [0.5792263150215149], [0.30266380310058594], [0.9697510004043579], [0.0367775484919548], [0.9867615699768066], [0.0841446965932846], [0.45926955342292786], [0.14531074464321136], [0.14531074464321136], [0.368409126996994], [0.060103900730609894], [0.0940045565366745], [0.03420490026473999], [0.14531074464321136], [0.14531074464321136], [0.03420490026473999], [0.060103900730609894], [0.23241853713989258], [0.45926955342292786], [0.45926955342292786], [0.03420490026473999], [0.19216901063919067], [0.5792263150215149], [0.30266380310058594], [0.9802921414375305], [0.14531074464321136], [0.23241853713989258], [0.14531074464321136], [0.19216901063919067], [0.9749343395233154], [0.12180211395025253], [0.19216901063919067], [0.4162171483039856], [0.12180211395025253], [0.8637562394142151], [0.14531074464321136], [0.9665386080741882], [0.3327236771583557], [0.9986838698387146], [0.14383766055107117], [0.98256516456604], [0.9867615699768066], [0.19216901063919067], [0.19216901063919067], [0.9172906875610352], [0.14531074464321136], [0.14531074464321136], [0.12180211395025253], [0.12125400453805923], [0.14531074464321136], [0.5792263150215149], [0.19216901063919067], [0.98256516456604], [0.19216901063919067], [0.45926955342292786], [0.98256516456604], [0.29875755310058594], [0.022693036124110222], [0.9737807512283325], [0.19216901063919067], [0.5720384120941162], [0.14531074464321136], [0.14531074464321136], [0.19216901063919067], [0.33436697721481323], [0.04413287341594696], [0.05339082330465317], [0.19216901063919067], [0.8560503125190735], [0.04479841887950897], [0.14531074464321136], [0.06284042447805405], [0.12180211395025253], [0.12180211395025253], [0.9992803931236267], [0.19216901063919067], [0.19216901063919067], [0.23241853713989258], [0.04413287341594696], [0.19500431418418884], [0.0017449618317186832], [0.19216901063919067], [0.5649809837341309], [0.060103900730609894], [0.5666226744651794], [0.03420490026473999], [0.98256516456604], [0.45926955342292786], [0.5598713755607605], [0.07935065031051636], [0.5598713755607605], [0.0367775484919548], [0.9599935412406921], [0.6763451099395752], [0.19216901063919067], [0.9992904663085938], [0.9986838698387146], [0.14531074464321136], [0.19216901063919067], [0.017580464482307434], [0.19216901063919067], [0.7075474858283997], [0.19216901063919067], [0.03420490026473999], [0.9986323714256287], [0.14383766055107117], [0.45926955342292786], [0.6162369251251221], [0.5598713755607605], [0.19216901063919067], [0.8891918063163757], [0.9806249141693115], [0.45990100502967834], [0.14531074464321136], [0.5508042573928833], [0.5792263150215149], [0.14531074464321136], [0.9172906875610352], [0.19216901063919067], [0.5792263150215149], [0.23827113211154938], [0.5792263150215149], [0.9926457405090332], [0.45926955342292786], [0.19216901063919067], [0.9986323714256287], [0.19216901063919067], [0.6714059114456177], [0.14383766055107117], [0.09553523361682892], [0.07935065031051636], [0.19216901063919067], [0.14531074464321136], [0.45926955342292786], [0.3036600649356842]]

In [47]:
se = pd.Series(predictions)
df['check'] = se
df['check'] = df['check'].str.get(0)

In [48]:
finalpred = []
count0 = 0
count1 = 0
for val in df.check:
    if val >=0.5:
        finalpred.append(1)
        count1 += 1
    else:
        finalpred.append(0)
        count0 += 1

df['Prediction'] = finalpred
print("Count 0:", count0)
print("Count 1:", count1)

Count 0: 839
Count 1: 52

In [39]:
df

,Survived,Pclass,Sex,SibSp,Parch,age_group,Fare_group,check,Prediction
0,0,3,male,1,0,child,cheap,0.735229,1
1,1,1,female,1,0,adult,cheap,0.129783,0
2,1,3,female,0,0,child,cheap,0.129664,0
3,1,1,female,1,0,adult,cheap,0.073232,0
4,0,3,male,0,0,adult,cheap,0.025083,0
...,...,...,...,...,...,...,...,...,...
886,0,2,male,0,0,adult,cheap,NaN,0
887,1,1,female,0,0,child,cheap,NaN,0
888,0,3,female,1,2,child,cheap,NaN,0
889,1,1,male,0,0,child,cheap,NaN,0
890,0,3,male,0,0,adult,cheap,NaN,0

In [49]:
filename='titanic8250.sav'
pickle.dump(model, open(filename, 'wb'))