In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
import pickle
import numpy as np
from sklearn.metrics import accuracy_score
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation,Flatten
from keras.optimizers import SGD
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

C:\Users\master\Anaconda3\lib\site-packages\h5py\__init__.py:72: UserWarning: h5py is running against HDF5 1.10.2 when it was built against 1.10.3, this may cause problems
  '{0}.{1}.{2}'.format(*version.hdf5_built_version_tuple)
Using TensorFlow backend.

In [2]:
df = pd.read_csv('submission files/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
print(df.info())
df['Age'] = df['Age'].fillna(df['Age'].std())
print(df.info())
labels = ['child','adult', 'old']
df['age_group'] = pd.cut(df['Age'], bins=3, labels=labels)
df['age_group']= df['age_group'].fillna('adult')
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          853 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
age_group        0
dtype: int64

In [4]:
labels = ['cheap', 'normal', 'expensive']
df['Fare_group'] = pd.cut(df['Fare'], bins=3, labels=labels)
df['Fare_group']= df['Fare_group'].fillna('cheap')
print(df.isnull().sum())
df

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
age_group        0
Fare_group       0
dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_group,Fare_group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,child,cheap
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,adult,cheap
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,child,cheap
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,adult,cheap
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,adult,cheap
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,adult,cheap
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,child,cheap
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,7.0,1,2,W./C. 6607,23.4500,NaN,S,child,cheap
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,child,cheap
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,adult,cheap

In [5]:
df.drop(columns= ['PassengerId', 'Name', 'Cabin', 'Embarked', 'Ticket','Age', 'Fare'], inplace=True)
df

     Survived  Pclass     Sex  SibSp  Parch age_group Fare_group
0           0       3    male      1      0     child      cheap
1           1       1  female      1      0     adult      cheap
2           1       3  female      0      0     child      cheap
3           1       1  female      1      0     adult      cheap
4           0       3    male      0      0     adult      cheap
..        ...     ...     ...    ...    ...       ...        ...
886         0       2    male      0      0     adult      cheap
887         1       1  female      0      0     child      cheap
888         0       3  female      1      2     child      cheap
889         1       1    male      0      0     child      cheap
890         0       3    male      0      0     adult      cheap

[891 rows x 7 columns]

In [6]:
y = df.iloc[:, 0].values
X = df.iloc[:,1:].values
X

array([[3, 'male', 1, 0, 'child', 'cheap'],
       [1, 'female', 1, 0, 'adult', 'cheap'],
       [3, 'female', 0, 0, 'child', 'cheap'],
       ...,
       [3, 'female', 1, 2, 'child', 'cheap'],
       [1, 'male', 0, 0, 'child', 'cheap'],
       [3, 'male', 0, 0, 'adult', 'cheap']], dtype=object)

In [7]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1,4,-1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[0.0 1.0 0.0 ... 3 1 0]
 [1.0 0.0 1.0 ... 1 1 0]
 [1.0 0.0 0.0 ... 3 0 0]
 ...
 [1.0 0.0 0.0 ... 3 1 2]
 [0.0 1.0 0.0 ... 1 0 0]
 [0.0 1.0 1.0 ... 3 0 0]]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 11)
print(X_train)
print(X_test)
print(y_train)
print(y_test)

[[0.0 1.0 0.0 ... 3 2 0]
 [0.0 1.0 1.0 ... 1 0 0]
 [0.0 1.0 1.0 ... 3 0 0]
 ...
 [0.0 1.0 0.0 ... 3 0 0]
 [0.0 1.0 0.0 ... 3 0 0]
 [0.0 1.0 0.0 ... 3 0 0]]
[[1.0 0.0 1.0 ... 3 1 0]
 [0.0 1.0 1.0 ... 3 0 0]
 [0.0 1.0 0.0 ... 3 0 0]
 ...
 [0.0 1.0 0.0 ... 3 0 0]
 [0.0 1.0 1.0 ... 1 0 0]
 [0.0 1.0 0.0 ... 1 1 0]]
[0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 0 1 0 1 1 1 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1 0 1 1 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0
 0 0 0 1 1 0 0 0 0 1 1 1 0 1 0 0 1 1 0 0 0 0 0 0 1 0 1 1 0 1 0 0 1 0 1 1 0
 1 0 1 0 1 0 1 1 0 0 1 1 0 1 0 1 1 0 1 0 1 1 0 0 1 0 1 0 0 0 0 0 0 1 0 1 0
 0 0 1 1 1 1 0 0 1 0 1 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 1 0 1 1 0 0 1 0 1 1 0
 1 1 1 1 1 0 0 0 0 0 0 0 1 0 1 0 0 1 1 0 0 1 0 0 1 1 1 0 1 1 1 1 0 0 0 0 0
 1 1 0 1 1 1 1 0 0 1 0 1 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0
 1 0 1 0 0 1 0 1 1 0 1 1 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 1 1 1 0 1
 0 0 0 0 0 1 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 0
 0 1 0 0 1 1 0 1 0 0 1 0 0 1 1 0 1 1 0 0 1 0 1 1 0 0 0 1 1 0 0 1 0 1 1 0 1
 1 0 0 1 0 0 0 1 1 1 1 0 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 1 1 1 0
 1 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1
 0 0 1 1 0 0 0 0 1 1 0 1 0 0 1 1 0 1 0 0 1 0 0 0 0 1 0 0 1 1 1 1 0 1 0 1 1
 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0 1
 0 1 1 0 0 1 1 1 1 1 0 0 0 1 1 0 0 1 1 1 0 0 1 0 0 0 0 0 1 0 1 1 1 0 1 1 1
 0 0 0 0 0 0 0 0 0 1 1 0 0 1 1 0 1 0 1 1 0 1 1 0 1 0 0 0 0 0 0 0 1 0 0 1 0
 0 1 1 0 1 1 0 1 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 1 0 0 0 0
 0 0 0 1 0 0 1 0 1 0 1 0 1 0 0 1 1 0 1 0 1 0 0 1 0 1 0 1 1 1 0 0 0 0 1 0 0
 0 0 0 0 0 1 1 1 1 1 0 0 1 0 0 1 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 1 1 0 1 1 0
 0 0 1 0 1 1 0 0 0]
[1 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0
 0 0 1 0 0 1 1 0 1 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 1 1 1 0 0 0 0 1
 0 0 1 0 1 1 1 1 1 0 1 1 0 1 1 0 0 0 0 0 1 0 1 0 0 1 0 0 1 0 0 1 0 0 0 1 0
 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 1 1 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0
 1 0 0 1 0 0 1 1 0 0 0 1 0 1 0 1 0 0 1 1 0 1 0 1 0 0 0 0 0 0 1]

In [9]:
sc = StandardScaler()
X_train[:, 2:] = sc.fit_transform(X_train[:, 2:])
X_test[:, 2:] = sc.transform(X_test[:, 2:])
print(X_train)
print(X_test)

[[0.0 1.0 -0.9347107630311682 ... 0.8249189043748203 1.291688566808702
  -0.4811217256593604]
 [0.0 1.0 1.0698496685296506 ... -1.557808316375167 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 1.0698496685296506 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 ...
 [0.0 1.0 -0.9347107630311682 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 -0.9347107630311682 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 -0.9347107630311682 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]]
[[1.0 0.0 1.0698496685296506 ... 0.8249189043748203 0.41160984951894514
  -0.4811217256593604]
 [0.0 1.0 1.0698496685296506 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 -0.9347107630311682 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 ...
 [0.0 1.0 -0.9347107630311682 ... 0.8249189043748203 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 1.0698496685296506 ... -1.557808316375167 -0.4684688677708115
  -0.4811217256593604]
 [0.0 1.0 -0.9347107630311682 ... -1.557808316375167 0.41160984951894514
  -0.4811217256593604]]

In [72]:
model = Sequential()
model.add(Dense(11, init='uniform', activation='relu', input_dim=11))
model.add(Dropout(0.2))
model.add(Dense(64, init = 'uniform', activation='relu'))
model.add(Dense(32, init = 'uniform', activation='relu'))
model.add(Dense(1, init='uniform', activation='sigmoid'))
model.compile(loss='binary_crossentropy',
 optimizer='adam',
 metrics=['accuracy'])

C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(11, activation="relu", input_dim=11, kernel_initializer="uniform")`

C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(64, activation="relu", kernel_initializer="uniform")`
  after removing the cwd from sys.path.
C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(32, activation="relu", kernel_initializer="uniform")`
  """
C:\Users\master\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, activation="sigmoid", kernel_initializer="uniform")`

In [74]:
model.fit(X_train, y_train,validation_split=0.3,batch_size=16, epochs =100)

Train on 498 samples, validate on 214 samples
Epoch 1/100
498/498 [==============================] - 0s 72us/step - loss: 0.3957 - accuracy: 0.8253 - val_loss: 0.4722 - val_accuracy: 0.7710
Epoch 2/100
498/498 [==============================] - 0s 68us/step - loss: 0.4130 - accuracy: 0.8133 - val_loss: 0.4743 - val_accuracy: 0.7804
Epoch 3/100
498/498 [==============================] - 0s 64us/step - loss: 0.4057 - accuracy: 0.8253 - val_loss: 0.4732 - val_accuracy: 0.7804
Epoch 4/100
498/498 [==============================] - 0s 66us/step - loss: 0.3913 - accuracy: 0.8394 - val_loss: 0.4733 - val_accuracy: 0.7804
Epoch 5/100
498/498 [==============================] - 0s 64us/step - loss: 0.3956 - accuracy: 0.8333 - val_loss: 0.4758 - val_accuracy: 0.7757
Epoch 6/100
498/498 [==============================] - 0s 64us/step - loss: 0.3985 - accuracy: 0.8293 - val_loss: 0.4773 - val_accuracy: 0.7710
Epoch 7/100
498/498 [==============================] - 0s 64us/step - loss: 0.3908 - accuracy: 0.8373 - val_loss: 0.4793 - val_accuracy: 0.7850
Epoch 8/100
498/498 [==============================] - 0s 66us/step - loss: 0.4049 - accuracy: 0.8193 - val_loss: 0.4773 - val_accuracy: 0.7757
Epoch 9/100
498/498 [==============================] - 0s 62us/step - loss: 0.3766 - accuracy: 0.8434 - val_loss: 0.4840 - val_accuracy: 0.7710
Epoch 10/100
498/498 [==============================] - 0s 64us/step - loss: 0.3899 - accuracy: 0.8273 - val_loss: 0.4854 - val_accuracy: 0.7757
Epoch 11/100
498/498 [==============================] - ETA: 0s - loss: 0.4407 - accuracy: 0.68 - 0s 70us/step - loss: 0.3780 - accuracy: 0.8454 - val_loss: 0.4873 - val_accuracy: 0.7757
Epoch 12/100
498/498 [==============================] - 0s 66us/step - loss: 0.3921 - accuracy: 0.8213 - val_loss: 0.4871 - val_accuracy: 0.7757
Epoch 13/100
498/498 [==============================] - 0s 64us/step - loss: 0.3995 - accuracy: 0.8293 - val_loss: 0.4845 - val_accuracy: 0.7664
Epoch 14/100
498/498 [==============================] - 0s 64us/step - loss: 0.4003 - accuracy: 0.8273 - val_loss: 0.4863 - val_accuracy: 0.7664
Epoch 15/100
498/498 [==============================] - ETA: 0s - loss: 0.2180 - accuracy: 0.87 - 0s 64us/step - loss: 0.3919 - accuracy: 0.8213 - val_loss: 0.4853 - val_accuracy: 0.7710
Epoch 16/100
498/498 [==============================] - 0s 63us/step - loss: 0.3861 - accuracy: 0.8434 - val_loss: 0.4836 - val_accuracy: 0.7664
Epoch 17/100
498/498 [==============================] - 0s 64us/step - loss: 0.4012 - accuracy: 0.8273 - val_loss: 0.4825 - val_accuracy: 0.7804
Epoch 18/100
498/498 [==============================] - 0s 64us/step - loss: 0.3855 - accuracy: 0.8253 - val_loss: 0.4880 - val_accuracy: 0.7664
Epoch 19/100
498/498 [==============================] - 0s 66us/step - loss: 0.3952 - accuracy: 0.8313 - val_loss: 0.4892 - val_accuracy: 0.7617
Epoch 20/100
498/498 [==============================] - 0s 64us/step - loss: 0.3873 - accuracy: 0.8373 - val_loss: 0.4885 - val_accuracy: 0.7617
Epoch 21/100
498/498 [==============================] - 0s 60us/step - loss: 0.3992 - accuracy: 0.8253 - val_loss: 0.4823 - val_accuracy: 0.7710
Epoch 22/100
498/498 [==============================] - 0s 60us/step - loss: 0.3910 - accuracy: 0.8313 - val_loss: 0.4874 - val_accuracy: 0.7710
Epoch 23/100
498/498 [==============================] - 0s 62us/step - loss: 0.3891 - accuracy: 0.8253 - val_loss: 0.4924 - val_accuracy: 0.7617
Epoch 24/100
498/498 [==============================] - 0s 60us/step - loss: 0.3822 - accuracy: 0.8414 - val_loss: 0.4946 - val_accuracy: 0.7710
Epoch 25/100
498/498 [==============================] - 0s 62us/step - loss: 0.3949 - accuracy: 0.8213 - val_loss: 0.4947 - val_accuracy: 0.7710
Epoch 26/100
498/498 [==============================] - 0s 64us/step - loss: 0.3905 - accuracy: 0.8233 - val_loss: 0.4997 - val_accuracy: 0.7664
Epoch 27/100
498/498 [==============================] - 0s 62us/step - loss: 0.3776 - accuracy: 0.8313 - val_loss: 0.4932 - val_accuracy: 0.7710
Epoch 28/100
498/498 [==============================] - 0s 62us/step - loss: 0.3904 - accuracy: 0.8313 - val_loss: 0.4997 - val_accuracy: 0.7710
Epoch 29/100
498/498 [==============================] - 0s 60us/step - loss: 0.4008 - accuracy: 0.8353 - val_loss: 0.4979 - val_accuracy: 0.7710
Epoch 30/100
498/498 [==============================] - 0s 60us/step - loss: 0.3933 - accuracy: 0.8253 - val_loss: 0.5000 - val_accuracy: 0.7710
Epoch 31/100
498/498 [==============================] - 0s 58us/step - loss: 0.3884 - accuracy: 0.8414 - val_loss: 0.4912 - val_accuracy: 0.7710
Epoch 32/100
498/498 [==============================] - 0s 64us/step - loss: 0.3897 - accuracy: 0.8273 - val_loss: 0.4950 - val_accuracy: 0.7710
Epoch 33/100
498/498 [==============================] - 0s 61us/step - loss: 0.3936 - accuracy: 0.8373 - val_loss: 0.4957 - val_accuracy: 0.7617
Epoch 34/100
498/498 [==============================] - 0s 58us/step - loss: 0.3957 - accuracy: 0.8253 - val_loss: 0.4958 - val_accuracy: 0.7617
Epoch 35/100
498/498 [==============================] - 0s 58us/step - loss: 0.3793 - accuracy: 0.8253 - val_loss: 0.4966 - val_accuracy: 0.7710
Epoch 36/100
498/498 [==============================] - 0s 58us/step - loss: 0.3901 - accuracy: 0.8333 - val_loss: 0.4993 - val_accuracy: 0.7710
Epoch 37/100
498/498 [==============================] - 0s 60us/step - loss: 0.3930 - accuracy: 0.8253 - val_loss: 0.4963 - val_accuracy: 0.7710
Epoch 38/100
498/498 [==============================] - 0s 60us/step - loss: 0.3869 - accuracy: 0.8333 - val_loss: 0.4938 - val_accuracy: 0.7664
Epoch 39/100
498/498 [==============================] - 0s 62us/step - loss: 0.3775 - accuracy: 0.8373 - val_loss: 0.4978 - val_accuracy: 0.7710
Epoch 40/100
498/498 [==============================] - 0s 60us/step - loss: 0.3875 - accuracy: 0.8373 - val_loss: 0.4965 - val_accuracy: 0.7710
Epoch 41/100
498/498 [==============================] - 0s 58us/step - loss: 0.3692 - accuracy: 0.8373 - val_loss: 0.4986 - val_accuracy: 0.7710
Epoch 42/100
498/498 [==============================] - 0s 58us/step - loss: 0.3796 - accuracy: 0.8333 - val_loss: 0.5087 - val_accuracy: 0.7710
Epoch 43/100
498/498 [==============================] - 0s 60us/step - loss: 0.3787 - accuracy: 0.8333 - val_loss: 0.5056 - val_accuracy: 0.7710
Epoch 44/100
498/498 [==============================] - 0s 60us/step - loss: 0.3838 - accuracy: 0.8333 - val_loss: 0.5025 - val_accuracy: 0.7757
Epoch 45/100
498/498 [==============================] - 0s 60us/step - loss: 0.3832 - accuracy: 0.8273 - val_loss: 0.4990 - val_accuracy: 0.7710
Epoch 46/100
498/498 [==============================] - 0s 58us/step - loss: 0.3900 - accuracy: 0.8273 - val_loss: 0.5025 - val_accuracy: 0.7710
Epoch 47/100
498/498 [==============================] - 0s 60us/step - loss: 0.3764 - accuracy: 0.8414 - val_loss: 0.5023 - val_accuracy: 0.7710
Epoch 48/100
498/498 [==============================] - 0s 58us/step - loss: 0.3891 - accuracy: 0.8253 - val_loss: 0.5060 - val_accuracy: 0.7710
Epoch 49/100
498/498 [==============================] - 0s 60us/step - loss: 0.3886 - accuracy: 0.8394 - val_loss: 0.5045 - val_accuracy: 0.7710
Epoch 50/100
498/498 [==============================] - 0s 66us/step - loss: 0.3806 - accuracy: 0.8414 - val_loss: 0.5017 - val_accuracy: 0.7710
Epoch 51/100
498/498 [==============================] - 0s 62us/step - loss: 0.3763 - accuracy: 0.8353 - val_loss: 0.5075 - val_accuracy: 0.7617
Epoch 52/100
498/498 [==============================] - 0s 63us/step - loss: 0.3876 - accuracy: 0.8293 - val_loss: 0.5085 - val_accuracy: 0.7710
Epoch 53/100
498/498 [==============================] - 0s 61us/step - loss: 0.3790 - accuracy: 0.8353 - val_loss: 0.5079 - val_accuracy: 0.7617
Epoch 54/100
498/498 [==============================] - 0s 62us/step - loss: 0.3854 - accuracy: 0.8253 - val_loss: 0.5138 - val_accuracy: 0.7710
Epoch 55/100
498/498 [==============================] - 0s 62us/step - loss: 0.3771 - accuracy: 0.8434 - val_loss: 0.5125 - val_accuracy: 0.7710
Epoch 56/100

498/498 [==============================] - 0s 62us/step - loss: 0.3905 - accuracy: 0.8353 - val_loss: 0.5080 - val_accuracy: 0.7570
Epoch 57/100
498/498 [==============================] - 0s 63us/step - loss: 0.3995 - accuracy: 0.8273 - val_loss: 0.5065 - val_accuracy: 0.7710
Epoch 58/100
498/498 [==============================] - 0s 63us/step - loss: 0.3749 - accuracy: 0.8373 - val_loss: 0.5039 - val_accuracy: 0.7710
Epoch 59/100
498/498 [==============================] - 0s 64us/step - loss: 0.3743 - accuracy: 0.8434 - val_loss: 0.5071 - val_accuracy: 0.7710
Epoch 60/100
498/498 [==============================] - 0s 62us/step - loss: 0.3817 - accuracy: 0.8333 - val_loss: 0.5105 - val_accuracy: 0.7710
Epoch 61/100
498/498 [==============================] - 0s 64us/step - loss: 0.3898 - accuracy: 0.8333 - val_loss: 0.5050 - val_accuracy: 0.7617
Epoch 62/100
498/498 [==============================] - 0s 70us/step - loss: 0.3801 - accuracy: 0.8353 - val_loss: 0.5071 - val_accuracy: 0.7710
Epoch 63/100
498/498 [==============================] - 0s 68us/step - loss: 0.3813 - accuracy: 0.8414 - val_loss: 0.5114 - val_accuracy: 0.7710
Epoch 64/100
498/498 [==============================] - 0s 68us/step - loss: 0.3797 - accuracy: 0.8233 - val_loss: 0.5095 - val_accuracy: 0.7617
Epoch 65/100
498/498 [==============================] - 0s 68us/step - loss: 0.3803 - accuracy: 0.8353 - val_loss: 0.5132 - val_accuracy: 0.7617
Epoch 66/100
498/498 [==============================] - 0s 62us/step - loss: 0.3803 - accuracy: 0.8293 - val_loss: 0.5084 - val_accuracy: 0.7710
Epoch 67/100
498/498 [==============================] - 0s 58us/step - loss: 0.3782 - accuracy: 0.8434 - val_loss: 0.5080 - val_accuracy: 0.7710
Epoch 68/100
498/498 [==============================] - 0s 58us/step - loss: 0.3701 - accuracy: 0.8273 - val_loss: 0.5090 - val_accuracy: 0.7710
Epoch 69/100
498/498 [==============================] - 0s 58us/step - loss: 0.4116 - accuracy: 0.8193 - val_loss: 0.5108 - val_accuracy: 0.7710
Epoch 70/100
498/498 [==============================] - 0s 64us/step - loss: 0.3816 - accuracy: 0.8253 - val_loss: 0.5080 - val_accuracy: 0.7710
Epoch 71/100
498/498 [==============================] - 0s 59us/step - loss: 0.3797 - accuracy: 0.8273 - val_loss: 0.5074 - val_accuracy: 0.7617
Epoch 72/100
498/498 [==============================] - 0s 58us/step - loss: 0.3861 - accuracy: 0.8193 - val_loss: 0.5060 - val_accuracy: 0.7617
Epoch 73/100
498/498 [==============================] - 0s 58us/step - loss: 0.3804 - accuracy: 0.8293 - val_loss: 0.5061 - val_accuracy: 0.7617
Epoch 74/100
498/498 [==============================] - 0s 57us/step - loss: 0.3728 - accuracy: 0.8313 - val_loss: 0.5104 - val_accuracy: 0.7617
Epoch 75/100
498/498 [==============================] - 0s 59us/step - loss: 0.3725 - accuracy: 0.8373 - val_loss: 0.5100 - val_accuracy: 0.7570
Epoch 76/100
498/498 [==============================] - 0s 60us/step - loss: 0.3613 - accuracy: 0.8394 - val_loss: 0.5109 - val_accuracy: 0.7617
Epoch 77/100
498/498 [==============================] - ETA: 0s - loss: 0.2732 - accuracy: 0.87 - 0s 59us/step - loss: 0.3947 - accuracy: 0.8273 - val_loss: 0.5140 - val_accuracy: 0.7617
Epoch 78/100
498/498 [==============================] - 0s 62us/step - loss: 0.3779 - accuracy: 0.8434 - val_loss: 0.5113 - val_accuracy: 0.7617
Epoch 79/100
498/498 [==============================] - 0s 60us/step - loss: 0.3846 - accuracy: 0.8253 - val_loss: 0.5078 - val_accuracy: 0.7710
Epoch 80/100
498/498 [==============================] - 0s 58us/step - loss: 0.3620 - accuracy: 0.8514 - val_loss: 0.5176 - val_accuracy: 0.7617
Epoch 81/100
498/498 [==============================] - 0s 60us/step - loss: 0.3787 - accuracy: 0.8353 - val_loss: 0.5197 - val_accuracy: 0.7710
Epoch 82/100
498/498 [==============================] - 0s 60us/step - loss: 0.3686 - accuracy: 0.8414 - val_loss: 0.5146 - val_accuracy: 0.7477
Epoch 83/100
498/498 [==============================] - 0s 60us/step - loss: 0.3788 - accuracy: 0.8313 - val_loss: 0.5180 - val_accuracy: 0.7383
Epoch 84/100
498/498 [==============================] - 0s 58us/step - loss: 0.3713 - accuracy: 0.8494 - val_loss: 0.5169 - val_accuracy: 0.7710
Epoch 85/100
498/498 [==============================] - 0s 60us/step - loss: 0.3733 - accuracy: 0.8474 - val_loss: 0.5171 - val_accuracy: 0.7710
Epoch 86/100
498/498 [==============================] - 0s 62us/step - loss: 0.3709 - accuracy: 0.8434 - val_loss: 0.5156 - val_accuracy: 0.7710
Epoch 87/100
498/498 [==============================] - 0s 60us/step - loss: 0.3661 - accuracy: 0.8333 - val_loss: 0.5194 - val_accuracy: 0.7710
Epoch 88/100
498/498 [==============================] - 0s 60us/step - loss: 0.3828 - accuracy: 0.8394 - val_loss: 0.5110 - val_accuracy: 0.7710
Epoch 89/100
498/498 [==============================] - 0s 60us/step - loss: 0.3805 - accuracy: 0.8273 - val_loss: 0.5069 - val_accuracy: 0.7664
Epoch 90/100
498/498 [==============================] - 0s 58us/step - loss: 0.3770 - accuracy: 0.8394 - val_loss: 0.5104 - val_accuracy: 0.7710
Epoch 91/100
498/498 [==============================] - 0s 58us/step - loss: 0.3791 - accuracy: 0.8353 - val_loss: 0.5202 - val_accuracy: 0.7710
Epoch 92/100
498/498 [==============================] - 0s 60us/step - loss: 0.3697 - accuracy: 0.8394 - val_loss: 0.5194 - val_accuracy: 0.7710
Epoch 93/100
498/498 [==============================] - 0s 58us/step - loss: 0.3926 - accuracy: 0.8233 - val_loss: 0.5195 - val_accuracy: 0.7664
Epoch 94/100
498/498 [==============================] - 0s 60us/step - loss: 0.3792 - accuracy: 0.8273 - val_loss: 0.5167 - val_accuracy: 0.7710
Epoch 95/100
498/498 [==============================] - 0s 59us/step - loss: 0.3705 - accuracy: 0.8454 - val_loss: 0.5185 - val_accuracy: 0.7710
Epoch 96/100
498/498 [==============================] - 0s 60us/step - loss: 0.3768 - accuracy: 0.8353 - val_loss: 0.5147 - val_accuracy: 0.7664
Epoch 97/100
498/498 [==============================] - 0s 66us/step - loss: 0.3720 - accuracy: 0.8253 - val_loss: 0.5120 - val_accuracy: 0.7710
Epoch 98/100
498/498 [==============================] - 0s 62us/step - loss: 0.3703 - accuracy: 0.8373 - val_loss: 0.5136 - val_accuracy: 0.7710
Epoch 99/100
498/498 [==============================] - 0s 60us/step - loss: 0.3693 - accuracy: 0.8353 - val_loss: 0.5151 - val_accuracy: 0.7710
Epoch 100/100
498/498 [==============================] - 0s 95us/step - loss: 0.3833 - accuracy: 0.8313 - val_loss: 0.5203 - val_accuracy: 0.7383

In [75]:
predictions= model.predict(X_test).tolist()
print(predictions)

[[0.816870391368866], [0.15116558969020844], [0.10086515545845032], [0.07724709063768387], [0.044388025999069214], [0.07724709063768387], [0.10086515545845032], [0.6974670886993408], [0.16042424738407135], [0.9538638591766357], [0.07724709063768387], [0.17654138803482056], [0.10086515545845032], [0.10086515545845032], [0.34883543848991394], [0.10086515545845032], [0.17654138803482056], [0.08183519542217255], [0.4824424386024475], [0.7310720682144165], [0.14129255712032318], [0.4421268105506897], [0.10086515545845032], [0.10086515545845032], [0.09911027550697327], [0.08183519542217255], [0.14129255712032318], [0.12766261398792267], [0.08183519542217255], [0.4824424386024475], [0.9871786832809448], [0.9460769295692444], [0.07544810324907303], [0.6974670886993408], [0.4824424386024475], [0.08183519542217255], [0.03159525617957115], [0.6009839773178101], [0.034004226326942444], [0.15116558969020844], [0.08183519542217255], [0.3164699375629425], [0.9460769295692444], [0.933103621006012], [0.6974670886993408], [0.20657244324684143], [0.9979257583618164], [0.24803179502487183], [0.9871786832809448], [0.09911027550697327], [0.5178439021110535], [0.10086515545845032], [0.10086515545845032], [0.6196185946464539], [0.08183519542217255], [0.26354458928108215], [0.05887414142489433], [0.10086515545845032], [0.10086515545845032], [0.05887414142489433], [0.08183519542217255], [0.17654138803482056], [0.5178439021110535], [0.5178439021110535], [0.05887414142489433], [0.15116558969020844], [0.6974670886993408], [0.20657244324684143], [0.9679581522941589], [0.10086515545845032], [0.17654138803482056], [0.10086515545845032], [0.15116558969020844], [0.998058021068573], [0.14129255712032318], [0.15116558969020844], [0.35628724098205566], [0.14129255712032318], [0.8707247972488403], [0.10086515545845032], [0.9460769295692444], [0.47465360164642334], [0.9913280606269836], [0.0993209257721901], [0.9725736379623413], [0.9871786832809448], [0.15116558969020844], [0.15116558969020844], [0.9076565504074097], [0.10086515545845032], [0.10086515545845032], [0.14129255712032318], [0.10200084000825882], [0.10086515545845032], [0.6974671483039856], [0.15116560459136963], [0.9725736379623413], [0.15116558969020844], [0.5178439021110535], [0.9725736379623413], [0.3731902539730072], [0.02134382538497448], [0.9956392049789429], [0.15116558969020844], [0.5959347486495972], [0.10086515545845032], [0.10086515545845032], [0.10086515545845032], [0.2998127341270447], [0.6041451692581177], [0.07724709063768387], [0.15116558969020844], [0.7852228283882141], [0.34883543848991394], [0.10086515545845032], [0.034004226326942444], [0.14129255712032318], [0.14129255712032318], [0.9924956560134888], [0.15116558969020844], [0.15116558969020844], [0.17654138803482056], [0.03159525617957115], [0.3159571886062622], [0.00026328000240027905], [0.15116558969020844], [0.6041451692581177], [0.08183515816926956], [0.6974670886993408], [0.05887414142489433], [0.9725736379623413], [0.5178439021110535], [0.6009839773178101], [0.23430472612380981], [0.6009839773178101], [0.24803179502487183], [0.9538638591766357], [0.7859808206558228], [0.15116558969020844], [0.9959279894828796], [0.9913280606269836], [0.10086515545845032], [0.15116558969020844], [0.08570754528045654], [0.15116558969020844], [0.9500027894973755], [0.15116558969020844], [0.05887414142489433], [0.9957883954048157], [0.0993209257721901], [0.5178439021110535], [0.7310720682144165], [0.6009839773178101], [0.15116558969020844], [0.916466474533081], [0.9990422129631042], [0.4824424386024475], [0.10086515545845032], [0.6974671483039856], [0.6974671483039856], [0.10086515545845032], [0.9076565504074097], [0.15116558969020844], [0.6974670886993408], [0.2923215627670288], [0.6974670886993408], [0.9509131908416748], [0.5178439021110535], [0.15116558969020844], [0.9957883954048157], [0.15116558969020844], [0.933103621006012], [0.0993209257721901], [0.16042424738407135], [0.23430472612380981], [0.15116558969020844], [0.10086515545845032], [0.5178439021110535], [0.4500686526298523]]

In [76]:
se = pd.Series(predictions)
df['check'] = se
df['check'] = df['check'].str.get(0)

In [77]:
finalpred = []
for val in df.check:
    if val >=0.5:
        finalpred.append(1)
    else:
        finalpred.append(0)

df['Prediction'] = finalpred

In [78]:
df

,Survived,Pclass,Sex,SibSp,Parch,age_group,Fare_group,check,Prediction
0,0,3,male,1,0,child,cheap,0.816870,1
1,1,1,female,1,0,adult,cheap,0.151166,0
2,1,3,female,0,0,child,cheap,0.100865,0
3,1,1,female,1,0,adult,cheap,0.077247,0
4,0,3,male,0,0,adult,cheap,0.044388,0
...,...,...,...,...,...,...,...,...,...
886,0,2,male,0,0,adult,cheap,NaN,0
887,1,1,female,0,0,child,cheap,NaN,0
888,0,3,female,1,2,child,cheap,NaN,0
889,1,1,male,0,0,child,cheap,NaN,0
890,0,3,male,0,0,adult,cheap,NaN,0

In [79]:
filename='titanic83dropout.sav'
pickle.dump(model, open(filename, 'wb'))